Repository percona/percona-server-mysql-operator, pull requests merged in 2022-09, with the labels that each got.

#160 Leverage docker cache
  .dockerignore
  Makefile
  build/Dockerfile
  config/crd/bases/ps.percona.com_perconaservermysqlbackups.yaml
  config/crd/bases/ps.percona.com_perconaservermysqlrestores.yaml
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  e2e-tests/build
Labels: size/XXL

#157 K8SPS-105 fix sidecar error output
  cmd/sidecar/main.go
Labels: size/M

#165 K8SPS-152 - Add expose option for orchestrator in cr.yaml
  Jenkinsfile
  deploy/cr.yaml
Labels: size/XS

#168 K8SPS-146 Fix replication logs
  controllers/perconaservermysql_controller.go
Labels: size/S

#164 K8SPS-17: Integrate pt-heartbeat
  api/v1alpha1/perconaservermysql_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  build/Dockerfile
  build/heartbeat-entrypoint.sh
  build/ps-entrypoint.sh
  build/ps-init-entrypoint.sh
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  e2e-tests/conf/secrets.yaml
  e2e-tests/tests/auto-config/01-assert.yaml
  e2e-tests/tests/auto-config/02-assert.yaml
  e2e-tests/tests/auto-config/02-remove-requests-add-limits.yaml
  e2e-tests/tests/auto-config/03-check-auto-tuning.yaml
  e2e-tests/tests/auto-config/04-assert.yaml
  e2e-tests/tests/auto-config/06-assert.yaml
  e2e-tests/tests/config/01-assert.yaml
  e2e-tests/tests/limits/01-assert.yaml
  e2e-tests/tests/limits/03-assert.yaml
  e2e-tests/tests/limits/05-assert.yaml
  e2e-tests/tests/monitoring/02-assert.yaml
  e2e-tests/tests/sidecars/01-assert.yaml
  e2e-tests/tests/users/02-assert.yaml
  go.mod
  go.sum
  pkg/mysql/mysql.go
  pkg/orchestrator/orchestrator.go
  pkg/router/router.go
  pkg/secret/secret.go
Labels: size/XXL

#150 K8SPS-132: Enable HTTP server for MySQL Router
  e2e-tests/tests/gr-init-deploy/01-assert.yaml
  pkg/router/router.go
Labels: size/S

#169 K8SPS-125: cluster secret shouldn't be removed during CR deletion
  controllers/perconaservermysql_controller.go
Labels: size/XS

#171 K8SPS-17: use `pt-heartbeat` only with async clusterType
  pkg/mysql/mysql.go
Labels: size/XS

#172 K8SPS-17 - Add heartbeat user into example secrets.yaml
  deploy/secrets.yaml
Labels: size/XS

#173 Fix `golangci-lint`
  .github/workflows/reviewdog.yml
Labels: size/XS

#176 K8SPS-17 - Add parameter for choosing Toolkit image for the tests
  deploy/cr.yaml
  e2e-tests/functions
  e2e-tests/vars.sh
Labels: size/XS

#125 K8SPS-23 Cert-manager added
  Jenkinsfile
  api/v1alpha1/perconaservermysql_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/manager/main.go
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  config/rbac/role.yaml
  controllers/perconaservermysql_controller.go
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/rbac.yaml
  e2e-tests/functions
  e2e-tests/tests/tls-cert-manager/00-assert.yaml
  e2e-tests/tests/tls-cert-manager/00-deploy-cert-manager.yaml
  e2e-tests/tests/tls-cert-manager/01-assert.yaml
  e2e-tests/tests/tls-cert-manager/01-deploy-operator.yaml
  e2e-tests/tests/tls-cert-manager/02-assert.yaml
  e2e-tests/tests/tls-cert-manager/02-create-cluster.yaml
  go.mod
  go.sum
  pkg/secret/secret.go
Labels: size/L

#177 K8SPS-49 - Remove clustercheck user from deploy/secrets.yaml
  deploy/secrets.yaml
Labels: size/XS

#158 K8SPS-97: Add `delete-backup` finalizer
  api/v1alpha1/perconaservermysqlbackup_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/sidecar/main.go
  config/crd/bases/ps.percona.com_perconaservermysqlbackups.yaml
  controllers/perconaservermysqlbackup_controller.go
  deploy/backup.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  e2e-tests/tests/demand-backup/03-assert.yaml
  e2e-tests/tests/demand-backup/03-create-backup-minio.yaml
  e2e-tests/tests/demand-backup/04-delete-data.yaml
  e2e-tests/tests/demand-backup/06-read-data.yaml
  e2e-tests/tests/demand-backup/07-assert.yaml
  e2e-tests/tests/demand-backup/07-create-backup-s3.yaml
  e2e-tests/tests/demand-backup/08-delete-data.yaml
  e2e-tests/tests/demand-backup/10-read-data.yaml
  e2e-tests/tests/demand-backup/11-assert.yaml
  e2e-tests/tests/demand-backup/11-create-backup-gcp.yaml
  e2e-tests/tests/demand-backup/12-delete-data.yaml
  e2e-tests/tests/demand-backup/14-read-data.yaml
  e2e-tests/tests/demand-backup/15-assert.yaml
  e2e-tests/tests/demand-backup/15-create-backup-azure.yaml
  e2e-tests/tests/demand-backup/16-delete-data.yaml
  e2e-tests/tests/demand-backup/18-read-data.yaml
  e2e-tests/tests/demand-backup/19-delete-all-backups.yaml
  pkg/secret/secret.go
  pkg/xtrabackup/xtrabackup.go
Labels: size/XXL

#159 K8SPS-145:delete-ps-pods-in-order-finalizer
  controllers/perconaservermysql_controller.go
  deploy/cr.yaml
  e2e-tests/tests/demand-backup/01-assert.yaml
  e2e-tests/tests/demand-backup/09-assert.yaml
  e2e-tests/tests/demand-backup/13-assert.yaml
  e2e-tests/tests/demand-backup/17-assert.yaml
  e2e-tests/tests/gr-init-deploy/01-assert.yaml
  e2e-tests/tests/init-deploy/01-assert.yaml
  e2e-tests/tests/monitoring/02-assert.yaml
  e2e-tests/tests/scaling/01-assert.yaml
  e2e-tests/tests/scaling/06-assert.yaml
  e2e-tests/tests/scaling/08-assert.yaml
  e2e-tests/tests/semi-sync/01-assert.yaml
  e2e-tests/tests/service-per-pod/01-assert.yaml
  e2e-tests/tests/service-per-pod/04-assert.yaml
  pkg/mysqlsh/mysqlsh.go
  pkg/orchestrator/client.go
Labels: size/L

#151 K8SPS-63: add version service support
  Jenkinsfile
  Makefile
  api/v1alpha1/perconaservermysql_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  controllers/perconaservermysql_controller.go
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  e2e-tests/conf/operator.9.9.9.ps-operator.dep.json
  e2e-tests/conf/operator.9.9.9.ps-operator.json
  e2e-tests/conf/vs.yaml
  e2e-tests/functions
  e2e-tests/tests/version-service/00-assert.yaml
  e2e-tests/tests/version-service/00-deploy-operator.yaml
  e2e-tests/tests/version-service/01-assert.yaml
  e2e-tests/tests/version-service/01-create-cluster-recommended.yaml
  e2e-tests/tests/version-service/02-assert.yaml
  e2e-tests/tests/version-service/02-set-upgradeOption-never.yaml
  e2e-tests/tests/version-service/03-assert.yaml
  e2e-tests/tests/version-service/03-set-upgradeOption-disabled.yaml
  e2e-tests/tests/version-service/04-delete-previous-cluster.yaml
  e2e-tests/tests/version-service/05-assert.yaml
  e2e-tests/tests/version-service/05-create-cluster-latest.yaml
  e2e-tests/tests/version-service/06-delete-previous-cluster.yaml
  e2e-tests/tests/version-service/07-assert.yaml
  e2e-tests/tests/version-service/07-create-cluster-exact.yaml
  go.mod
  go.sum
  pkg/version/service/client/api_version_proto_client.go
  pkg/version/service/client/models/googlerpc_status.go
  pkg/version/service/client/models/protobuf_any.go
  pkg/version/service/client/models/version_operator_response.go
  pkg/version/service/client/models/version_operator_version.go
  pkg/version/service/client/models/version_product_response.go
  pkg/version/service/client/models/version_status.go
  pkg/version/service/client/models/version_version.go
  pkg/version/service/client/models/version_version_matrix.go
  pkg/version/service/client/models/version_version_response.go
  pkg/version/service/client/version_service/version_service_apply_parameters.go
  pkg/version/service/client/version_service/version_service_apply_responses.go
  pkg/version/service/client/version_service/version_service_client.go
  pkg/version/service/client/version_service/version_service_operator_parameters.go
  pkg/version/service/client/version_service/version_service_operator_responses.go
  pkg/version/service/client/version_service/version_service_product_parameters.go
  pkg/version/service/client/version_service/version_service_product_responses.go
  pkg/version/service/service.go
  pkg/version/service/version.swagger.yaml
  pkg/version/version.go
Labels: size/XXL

#119 K8SPS-119: Inject Router and Orchestrator entrypoints using init container
  api/v1alpha1/perconaservermysql_types.go
  build/Dockerfile
  build/orc-entrypoint.sh
  build/orchestrator.conf.json
  build/ps-init-entrypoint.sh
  build/router-entrypoint.sh
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  controllers/perconaservermysql_controller.go
  controllers/perconaservermysqlbackup_controller.go
  controllers/perconaservermysqlrestore_controller.go
  deploy/bundle.yaml
  deploy/crd.yaml
  e2e-tests/tests/limits/01-assert.yaml
  e2e-tests/tests/limits/01-create-cluster-no-limits.yaml
  e2e-tests/tests/limits/03-assert.yaml
  e2e-tests/tests/limits/05-assert.yaml
  pkg/k8s/init_image.go
  pkg/mysql/mysql.go
  pkg/orchestrator/orchestrator.go
  pkg/router/router.go
  pkg/xtrabackup/xtrabackup.go
Labels: size/XL

#170 K8SPS-93: Don't run multiple backups on the same pod
  build/run-backup.sh
  cmd/sidecar/main.go
  controllers/perconaservermysqlbackup_controller.go
  pkg/xtrabackup/xtrabackup.go
Labels: size/L

#120 K8SPS-113: specify memory size as a template parameter in the config
  controllers/perconaservermysql_controller.go
  deploy/cr.yaml
  e2e-tests/tests/auto-config/02-remove-requests-add-limits.yaml
  e2e-tests/tests/auto-config/03-check-auto-tuning.yaml
  e2e-tests/tests/auto-config/04-remove-limits-add-requests.yaml
  e2e-tests/tests/auto-config/05-check-auto-tuning.yaml
  e2e-tests/tests/auto-config/06-add-limits-change-requests.yaml
  e2e-tests/tests/auto-config/07-check-auto-tuning.yaml
  e2e-tests/tests/auto-config/08-add-custom-config.yaml
  e2e-tests/tests/auto-config/09-check-auto-tuning.yaml
  e2e-tests/tests/auto-config/10-change-cfg-template-params.yaml
  go.mod
  go.sum
  pkg/mysql/config.go
Labels: size/M

#103 K8SPS-161 update contribution guide
  CONTRIBUTING.md
  Makefile
  config/samples/ps_v2_perconaserverformysql.yaml
Labels: community, docs, size/L

#179 K8SPS-63 - Disable automatic upgrade with VS in cr.yaml
  deploy/cr.yaml
Labels: size/XS

#178 K8SPS-73 - Add one-pod test and improve sidecars test
  Jenkinsfile
  e2e-tests/tests/one-pod/00-assert.yaml
  e2e-tests/tests/one-pod/00-deploy-operator.yaml
  e2e-tests/tests/one-pod/01-assert.yaml
  e2e-tests/tests/one-pod/01-create-cluster.yaml
  e2e-tests/tests/one-pod/02-write-data.yaml
  e2e-tests/tests/one-pod/03-assert.yaml
  e2e-tests/tests/one-pod/03-create-backup-minio.yaml
  e2e-tests/tests/one-pod/04-assert.yaml
  e2e-tests/tests/one-pod/04-delete-data.yaml
  e2e-tests/tests/one-pod/05-assert.yaml
  e2e-tests/tests/one-pod/05-restore-from-minio.yaml
  e2e-tests/tests/one-pod/06-assert.yaml
  e2e-tests/tests/one-pod/06-read-data.yaml
  e2e-tests/tests/sidecars/01-create-cluster.yaml
Labels: size/L

#180 K8SPS-63: Using default version when failing to get them from VS
  controllers/perconaservermysql_controller.go
Labels: size/XS

#181 K8SPS-146: Fix semi-sync logs
  controllers/perconaservermysql_controller.go
Labels: size/XS

#167 K8SPS-105: Implement backups and restores for GR
  Jenkinsfile
  cmd/sidecar/main.go
  controllers/perconaservermysql_controller.go
  controllers/perconaservermysqlbackup_controller.go
  controllers/perconaservermysqlrestore_controller.go
  e2e-tests/tests/gr-demand-backup/00-assert.yaml
  e2e-tests/tests/gr-demand-backup/00-deploy-operator.yaml
  e2e-tests/tests/gr-demand-backup/01-assert.yaml
  e2e-tests/tests/gr-demand-backup/01-create-cluster.yaml
  e2e-tests/tests/gr-demand-backup/02-write-data.yaml
  e2e-tests/tests/gr-demand-backup/03-assert.yaml
  e2e-tests/tests/gr-demand-backup/03-create-backup-minio.yaml
  e2e-tests/tests/gr-demand-backup/04-assert.yaml
  e2e-tests/tests/gr-demand-backup/04-delete-data.yaml
  e2e-tests/tests/gr-demand-backup/05-assert.yaml
  e2e-tests/tests/gr-demand-backup/05-restore-from-minio.yaml
  e2e-tests/tests/gr-demand-backup/06-assert.yaml
  e2e-tests/tests/gr-demand-backup/06-read-data.yaml
  e2e-tests/tests/gr-demand-backup/07-assert.yaml
  e2e-tests/tests/gr-demand-backup/07-create-backup-s3.yaml
  e2e-tests/tests/gr-demand-backup/08-assert.yaml
  e2e-tests/tests/gr-demand-backup/08-delete-data.yaml
  e2e-tests/tests/gr-demand-backup/09-assert.yaml
  e2e-tests/tests/gr-demand-backup/09-restore-from-s3.yaml
  e2e-tests/tests/gr-demand-backup/10-assert.yaml
  e2e-tests/tests/gr-demand-backup/10-read-data.yaml
  e2e-tests/tests/gr-demand-backup/11-assert.yaml
  e2e-tests/tests/gr-demand-backup/11-create-backup-gcp.yaml
  e2e-tests/tests/gr-demand-backup/12-assert.yaml
  e2e-tests/tests/gr-demand-backup/12-delete-data.yaml
  e2e-tests/tests/gr-demand-backup/13-assert.yaml
  e2e-tests/tests/gr-demand-backup/13-restore-from-gcp.yaml
  e2e-tests/tests/gr-demand-backup/14-assert.yaml
  e2e-tests/tests/gr-demand-backup/14-read-data.yaml
  e2e-tests/tests/gr-demand-backup/15-assert.yaml
  e2e-tests/tests/gr-demand-backup/15-create-backup-azure.yaml
  e2e-tests/tests/gr-demand-backup/16-assert.yaml
  e2e-tests/tests/gr-demand-backup/16-delete-data.yaml
  e2e-tests/tests/gr-demand-backup/17-assert.yaml
  e2e-tests/tests/gr-demand-backup/17-restore-from-azure.yaml
  e2e-tests/tests/gr-demand-backup/18-assert.yaml
  e2e-tests/tests/gr-demand-backup/18-read-data.yaml
  pkg/mysql/topology/topology.go
Labels: size/XL

#166 K8SPS-112: HAProxy integration
  api/v1alpha1/perconaservermysql_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  build/Dockerfile
  build/haproxy-entrypoint.sh
  build/haproxy-global.cfg
  build/haproxy.cfg
  build/haproxy_add_mysql_nodes.sh
  build/haproxy_check_primary.sh
  build/haproxy_check_replicas.sh
  build/haproxy_liveness_check.sh
  build/haproxy_readiness_check.sh
  build/ps-init-entrypoint.sh
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  controllers/perconaservermysql_controller.go
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  pkg/haproxy/haproxy.go
  pkg/k8s/utils.go
Labels: size/XXL

#183 K8SPS-119 - Add initImage option to cr.yaml
  deploy/cr.yaml
Labels: size/XS

#184 K8SPS-171 - Remove upgradeOptions since we don't support it in 0.3.0
  deploy/cr.yaml
Labels: size/XS

#185 K8SPS-171 - Add initImage top level example in cr.yaml
  deploy/cr.yaml
Labels: size/XS

#188 K8SPS-171 - Fix the haproxy image in cr.yaml
  deploy/cr.yaml
Labels: size/XS
