Repository percona/percona-server-mysql-operator, pull requests merged in 2022-12, with the labels that each got.

#224 Fix group-replication cluster creation
  build/Dockerfile
  controllers/perconaservermysql_controller.go
  pkg/mysqlsh/mysqlsh.go
Labels: size/M

#214 K8SPS-164: don't start PMM without `pmmserverkey` secret
  api/v1alpha1/perconaservermysql_types.go
  controllers/perconaservermysql_controller.go
  deploy/secrets.yaml
  pkg/mysql/mysql.go
Labels: size/M

#223 K8SPS-180: remove unnecessary stacktrace in `delete-mysql-pods-in-ord…
  controllers/perconaservermysql_controller.go
Labels: size/XS

#215 K8SPS-187: allow running only one backup at the same time
  build/run-backup.sh
  controllers/perconaservermysqlbackup_controller.go
  pkg/xtrabackup/xtrabackup.go
Labels: size/M

#218 K8SPS-175: fix `delete-backup` finalizer
  controllers/perconaservermysqlbackup_controller.go
Labels: size/XS

#225 K8SPS-202 fix the restoration of the backup
  cmd/bootstrap/main.go
Labels: size/XS

#217 K8SPS-174: fix deletion of failed backups with finalizers
  controllers/perconaservermysqlbackup_controller.go
Labels: size/S

#226 K8SPS-176: remove redundant volume mounts for delete backup job
  api/v1alpha1/perconaservermysqlbackup_types.go
  config/crd/bases/ps.percona.com_perconaservermysqlbackups.yaml
  config/crd/bases/ps.percona.com_perconaservermysqlrestores.yaml
  controllers/perconaservermysqlbackup_controller.go
  pkg/xtrabackup/xtrabackup.go
Labels: size/M

#229 CLOUD-751 - Fix Jenkins concurrent builds
  Jenkinsfile
Labels: size/M

#189 K8SPS-183 - MySQL timeouts and unsafe proxy sizes
  api/v1alpha1/perconaservermysql_types.go
  pkg/replicator/replicator.go
  pkg/users/users.go
Labels: size/M

#219 K8SPS-90: Add sanity checks for backups
  build/Dockerfile
  cmd/sidecar/main.go
  cmd/sidecar/storage.go
  go.mod
  go.sum
Labels: size/L

#227 K8SPS-130: standardize service exposure
  api/v1alpha1/perconaservermysql_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  build/Dockerfile
  build/orc-entrypoint.sh
  build/orchestrator.conf.json
  build/ps-init-entrypoint.sh
  cmd/orc-handler/main.go
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  config/rbac/kustomization.yaml
  config/rbac/orchestrator_role.yaml
  config/rbac/orchestrator_role_binding.yaml
  config/rbac/orchestrator_service_account.yaml
  controllers/perconaservermysql_controller.go
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/rbac.yaml
  e2e-tests/functions
  e2e-tests/tests/config/03-check-config.yaml
  e2e-tests/tests/config/07-check-config.yaml
  e2e-tests/tests/demand-backup/02-write-data.yaml
  e2e-tests/tests/demand-backup/04-delete-data.yaml
  e2e-tests/tests/demand-backup/07-delete-data.yaml
  e2e-tests/tests/demand-backup/11-delete-data.yaml
  e2e-tests/tests/demand-backup/15-delete-data.yaml
  e2e-tests/tests/demand-backup/19-delete-data.yaml
  e2e-tests/tests/init-deploy/02-write-data.yaml
  e2e-tests/tests/init-deploy/03-read-from-primary.yaml
  e2e-tests/tests/limits/01-assert.yaml
  e2e-tests/tests/limits/03-assert.yaml
  e2e-tests/tests/limits/05-assert.yaml
  e2e-tests/tests/one-pod/02-write-data.yaml
  e2e-tests/tests/one-pod/04-delete-data.yaml
  e2e-tests/tests/one-pod/06-read-data.yaml
  e2e-tests/tests/scaling/02-write-data.yaml
  e2e-tests/tests/scaling/03-read-from-primary.yaml
  e2e-tests/tests/semi-sync/03-check-semi-sync.yaml
  e2e-tests/tests/service-per-pod/00-deploy-operator.yaml
  e2e-tests/tests/service-per-pod/01-assert.yaml
  e2e-tests/tests/service-per-pod/02-write-data.yaml
  e2e-tests/tests/service-per-pod/04-assert.yaml
  e2e-tests/tests/service-per-pod/04-create-cluster-loadbalancer.yaml
  e2e-tests/tests/users/02-check-users.yaml
  e2e-tests/tests/users/04-check-cluster.yaml
  pkg/haproxy/haproxy.go
  pkg/k8s/utils.go
  pkg/mysql/mysql.go
  pkg/orchestrator/orchestrator.go
  pkg/router/router.go
  pkg/util/map.go
Labels: size/XXL

#234 CLOUD-705 add labels under cluster creation
  Jenkinsfile
Labels: size/XS

#235 K8SPS-188 - Update versions for 0.4.0
  deploy/cr.yaml
  pkg/version/version.go
Labels: size/XS

#246 Revert CLOUD-727: Bump sigs.k8s.io/controller-runtime from 0.13.1 to 0.14.1
  Makefile
  config/crd/bases/ps.percona.com_perconaservermysqlbackups.yaml
  config/crd/bases/ps.percona.com_perconaservermysqlrestores.yaml
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  go.mod
  go.sum
Labels: size/XL

#230 K8SPS-179: Bootstrap Group Replication
  .gitignore
  Makefile
  api/v1alpha1/perconaservermysql_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  build/Dockerfile
  build/ps-entrypoint.sh
  build/ps-init-entrypoint.sh
  build/router-entrypoint.sh
  build/router_readiness_check.sh
  cmd/bootstrap/async_replication.go
  cmd/bootstrap/group_replication.go
  cmd/bootstrap/main.go
  cmd/bootstrap/utils.go
  cmd/healthcheck/main.go
  cmd/peer-list/main.go
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  controllers/perconaservermysql_controller.go
  controllers/perconaservermysqlrestore_controller.go
  deploy/bundle.yaml
  deploy/crd.yaml
  e2e-tests/conf/sysbench-create.yaml
  e2e-tests/tests/gr-demand-backup/01-assert.yaml
  e2e-tests/tests/gr-demand-backup/02-write-data.yaml
  e2e-tests/tests/gr-demand-backup/04-delete-data.yaml
  e2e-tests/tests/gr-demand-backup/08-delete-data.yaml
  e2e-tests/tests/gr-demand-backup/12-delete-data.yaml
  e2e-tests/tests/gr-demand-backup/16-delete-data.yaml
  e2e-tests/tests/init-deploy/01-assert.yaml
  e2e-tests/tests/limits/01-assert.yaml
  e2e-tests/tests/limits/03-assert.yaml
  e2e-tests/tests/limits/05-assert.yaml
  e2e-tests/tests/users/02-assert.yaml
  pkg/k8s/utils.go
  pkg/mysql/mysql.go
  pkg/mysqlsh/mysqlsh.go
  pkg/orchestrator/client.go
  pkg/replicator/replicator.go
  pkg/router/router.go
Labels: size/XXL

#245 K8SPS-181: fix autotuning
  pkg/mysql/config.go
Labels: size/S

#236 K8SPS-183: call `discover` if primary alias is empty
  controllers/perconaservermysql_controller.go
  pkg/orchestrator/client.go
Labels: size/M

#232 K8SPS-207: allow to disable orchestrator and haproxy
  api/v1alpha1/perconaservermysql_types.go
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  controllers/perconaservermysql_controller.go
  controllers/perconaservermysqlbackup_controller.go
  controllers/perconaservermysqlrestore_controller.go
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  pkg/k8s/utils.go
  pkg/mysql/mysql.go
  pkg/orchestrator/orchestrator.go
Labels: size/L

#247 K8SPS-130: remove redundant fields from `cr.yaml`
  deploy/cr.yaml
Labels: size/XS

#248 K8SPS-181 decrease the value for innodb_buffer_pool_size option
  deploy/cr.yaml
  e2e-tests/functions
  pkg/mysql/config.go
Labels: size/S

#249 K8SPS-73 - Add haproxy test
  Jenkinsfile
  e2e-tests/functions
  e2e-tests/tests/haproxy/00-assert.yaml
  e2e-tests/tests/haproxy/00-deploy-operator.yaml
  e2e-tests/tests/haproxy/01-assert.yaml
  e2e-tests/tests/haproxy/01-create-cluster.yaml
  e2e-tests/tests/haproxy/02-write-data.yaml
  e2e-tests/tests/haproxy/03-assert.yaml
  e2e-tests/tests/haproxy/03-read-from-primary.yaml
  e2e-tests/tests/haproxy/04-assert.yaml
  e2e-tests/tests/haproxy/04-read-from-replicas.yaml
  e2e-tests/tests/haproxy/05-check-pods-have-same-primary.yaml
  e2e-tests/tests/haproxy/06-check-label-haproxy-primary.yaml
  e2e-tests/tests/haproxy/07-check-primary-failover.yaml
  e2e-tests/tests/haproxy/08-assert.yaml
  e2e-tests/tests/haproxy/08-disable-haproxy.yaml
  e2e-tests/tests/haproxy/09-errors.yaml
Labels: size/L

#250 K8SPS-188 - Versions update for release 0.4.0
  config/manager/kustomization.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/operator.yaml
Labels: size/S

#251 K8SPS-179: Don't try to reconcile GR if cluster is paused
  controllers/perconaservermysql_controller.go
Labels: size/XS

#253 Release 0.4.0 fix default values in cr
  deploy/cr.yaml
Labels: size/XS

#255 K8SPS-202: Fix broken topology after restore
  cmd/bootstrap/async_replication.go
  pkg/replicator/replicator.go
Labels: size/M

#233 K8SPS-210: Add unit tests job to GA.
  .github/workflows/tests.yml
  controllers/suite_test.go
  go.mod
  go.sum
Labels: size/S
