Repository percona/percona-server-mysql-operator, pull requests merged in 2022-08, with the labels that each got.

#115 DOCS-31 fix endless redirects on absent pages, helm installation
  source/api.rst
  source/broker.rst
  source/cluster-wide.rst
  source/containers-conf.rst
  source/custom-registry.rst
  source/debug.rst
  source/encryption.rst
  source/faq.rst
  source/gke.rst
  source/glossary.options.rst
  source/haproxy-conf.rst
  source/helm.rst
  source/index.rst
  source/openshift.rst
  source/pause.rst
  source/proxysql-conf.rst
  source/recovery.rst
  source/replication.rst
  source/storage.rst
  source/update.rst
Labels: docs

#147 K8SPS-133 - Change E2E test images for backup and PS mysql
  e2e-tests/vars.sh
Labels: size/XS

#149 Update README.md
  README.md
Labels: size/XS

#154 HD-17506 fix version-switching button for Release Notes index
  Makefile
Labels: docs, size/XS

#156 CLOUD-727 update 'go-client' to fix 'go-restful' CVE
  Jenkinsfile
  go.mod
  go.sum
Labels: size/XS

#152 K8SPS-138 add 3306 port for MySQL router
  e2e-tests/tests/gr-init-deploy/01-assert.yaml
  pkg/router/router.go
Labels: size/S

#153 K8SPS-115: Add support for API key authentication with PMM
  api/v1alpha1/perconaservermysql_types.go
  controllers/perconaservermysql_controller.go
  deploy/secrets.yaml
  e2e-tests/conf/secrets.yaml
  e2e-tests/functions
  e2e-tests/tests/monitoring/01-assert.yaml
  e2e-tests/tests/monitoring/01-deploy-pmm-server.yaml
  e2e-tests/tests/monitoring/02-assert.yaml
  e2e-tests/tests/monitoring/03-check-metrics.yaml
  pkg/mysql/mysql.go
Labels: size/L
