Repository percona/percona-server-mysql-operator, pull requests merged in 2022-10, with the labels that each got.

#186 K8SPS-171 - Release 0.3.0
  config/manager/kustomization.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/operator.yaml
  e2e-tests/functions
  e2e-tests/vars.sh
Labels: size/S

#197 K8SPS-171 - Update after 0.3.0 release
  config/manager/kustomization.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/operator.yaml
Labels: size/S

#200 CLOUD-705 delete unused clusters
  .github/CODEOWNERS
  Jenkinsfile
  go.mod
  go.sum
Labels: size/XS

#198 CLOUD-727 ignore minore ver for Dockerfile
  .github/dependabot.yml
Labels: hacktoberfest-accepted, size/XS
