Repository percona/percona-server-mysql-operator, pull requests merged in 2023-06, with the labels that each got.

#380 K8SPS-163: add PMM support for HAProxy
  api/v1alpha1/perconaservermysql_types.go
  build/Dockerfile
  build/haproxy-global.cfg
  build/pmm-prerun.sh
  build/ps-init-entrypoint.sh
  e2e-tests/tests/monitoring/02-assert.yaml
  e2e-tests/tests/monitoring/02-create-cluster.yaml
  e2e-tests/tests/monitoring/03-check-metrics.yaml
  pkg/controller/ps/controller.go
  pkg/haproxy/haproxy.go
  pkg/mysql/mysql.go
  pkg/pmm/container.go
Labels: size/XL

#376 K8SPS-162: enable X protocol for HAProxy
  e2e-tests/tests/async-ignore-annotations/01-assert.yaml
  e2e-tests/tests/async-ignore-annotations/02-assert.yaml
  e2e-tests/tests/async-ignore-annotations/04-assert.yaml
  e2e-tests/tests/async-ignore-annotations/05-assert.yaml
  e2e-tests/tests/async-ignore-annotations/06-assert.yaml
  e2e-tests/tests/async-ignore-annotations/07-assert.yaml
  e2e-tests/tests/haproxy/01-assert.yaml
  pkg/haproxy/haproxy.go
Labels: size/M

#383 K8SPS-257: fix backup deletion in `error` state
  pkg/controller/psbackup/controller.go
  pkg/controller/psbackup/controller_test.go
Labels: size/L

#384 Update the Operator emblem and use it in README
  README.md
  kubernetes.svg
Labels: docs, size/S

#387 K8SPS-257: fix `TestCheckFinalizers` unit-test
  pkg/controller/psbackup/controller_test.go
Labels: size/S
