Repository percona/percona-server-mysql-operator, pull requests merged in 2023-03, with the labels that each got.

#292 K8SPS-217: Custom MySQL Router Config
  Jenkinsfile
  api/v1alpha1/perconaservermysql_types.go
  build/router-entrypoint.sh
  config/crd/bases/ps.percona.com_perconaservermysqlbackups.yaml
  config/crd/bases/ps.percona.com_perconaservermysqlrestores.yaml
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  e2e-tests/functions
  e2e-tests/tests/async-ignore-annotations/08-drop-finalizer.yaml
  e2e-tests/tests/auto-config/12-drop-finalizer
  e2e-tests/tests/config-router/00-assert.yaml
  e2e-tests/tests/config-router/00-deploy-operator.yaml
  e2e-tests/tests/config-router/01-assert.yaml
  e2e-tests/tests/config-router/01-create-cluster.yaml
  e2e-tests/tests/config-router/02-assert.yaml
  e2e-tests/tests/config-router/02-config-through-cr.yaml
  e2e-tests/tests/config-router/03-assert.yaml
  e2e-tests/tests/config-router/03-check-config.yaml
  e2e-tests/tests/config-router/04-assert.yaml
  e2e-tests/tests/config-router/04-remove-config.yaml
  e2e-tests/tests/config-router/05-assert.yaml
  e2e-tests/tests/config-router/05-config-through-configmap.yaml
  e2e-tests/tests/config-router/06-assert.yaml
  e2e-tests/tests/config-router/06-restart-router.yaml
  e2e-tests/tests/config-router/07-assert.yaml
  e2e-tests/tests/config-router/07-check-config.yaml
  e2e-tests/tests/config-router/08-drop-finalizer.yaml
  e2e-tests/tests/config/09-drop-finalizer
  e2e-tests/tests/demand-backup/23-drop-finalizer
  e2e-tests/tests/gr-demand-backup/19-drop-finalizer
  e2e-tests/tests/gr-ignore-annotations/08-drop-finalizer.yaml
  e2e-tests/tests/gr-init-deploy/06-drop-finalizer
  e2e-tests/tests/haproxy/10-drop-finalizer
  e2e-tests/tests/init-deploy/06-drop-finalizer
  e2e-tests/tests/limits/01-assert.yaml
  e2e-tests/tests/limits/03-assert.yaml
  e2e-tests/tests/limits/05-assert.yaml
  e2e-tests/tests/monitoring/04-drop-finalizer
  e2e-tests/tests/one-pod/07-drop-finalizer
  e2e-tests/tests/scaling/09-drop-finalizer
  e2e-tests/tests/semi-sync/05-drop-finalizer
  e2e-tests/tests/service-per-pod/06-drop-finalizer
  e2e-tests/tests/sidecars/02-drop-finalizer
  e2e-tests/tests/tls-cert-manager/03-drop-finalizer
  e2e-tests/tests/users/05-drop-finalizer
  e2e-tests/tests/version-service/08-drop-finalizer
  pkg/controller/ps/controller.go
  pkg/mysql/mysql.go
  pkg/router/router.go
Labels: size/XXL

#296 K8SPS-214: fix status of cr with disabled orchestrator
  pkg/controller/ps/controller.go
Labels: size/XS

#272 K8SPS-227: fix labels/annotations for router
  pkg/controller/ps/controller.go
Labels: size/XS

#307 K8SPS-243 remove backup option from server list
  build/haproxy_add_mysql_nodes.sh
Labels: size/S

#291 K8SPS-141: improve telemetry
  api/v1alpha1/perconaservermysql_types.go
  config/manager/manager.yaml
  deploy/bundle.yaml
  deploy/operator.yaml
  e2e-tests/functions
  go.mod
  go.sum
  pkg/controller/ps/controller.go
  pkg/controller/ps/version.go
  pkg/controller/ps/version_test.go
  pkg/version/service/service.go
Labels: size/XL

#288 K8SPS-246: remove cluster.local suffix
  build/router-entrypoint.sh
  pkg/controller/ps/controller.go
  pkg/orchestrator/orchestrator.go
  pkg/secret/secret.go
Labels: community, size/S

#310 K8SPS-247: Test sidecars with envtest
  .github/workflows/tests.yml
  CONTRIBUTING.md
  Jenkinsfile
  pkg/controller/ps/controller_test.go
  pkg/controller/ps/suite_test.go
Labels: size/L

#311 K8SPS-245: generate missing passwords in user secret
  pkg/controller/ps/controller.go
  pkg/controller/ps/user.go
  pkg/controller/ps/user_test.go
  pkg/secret/secret.go
Labels: size/XL

#315 CLOUD-775 - Fix cancelation of parallel pipeline build
  Jenkinsfile
Labels: size/S

#314 K8SPS-158: delete-ssl finalizer
  deploy/cr.yaml
  pkg/controller/ps/controller.go
  pkg/controller/ps/controller_test.go
  pkg/controller/ps/suite_test.go
  pkg/controller/ps/testdata/cert-manager.yaml
  pkg/controller/ps/tls_test.go
Labels: size/XXL

#313 K8SPS-230: Set safe GR size for MySQL
  api/v1alpha1/perconaservermysql_types.go
  pkg/controller/ps/controller_test.go
Labels: size/L

#317 K8SPS-168: Check if the specified CM issuer exist
  pkg/controller/ps/controller.go
  pkg/controller/ps/tls_test.go
Labels: size/S

#261 K8SPS-225: don't start backups or restores with invalid parameters
  api/v1alpha1/perconaservermysqlbackup_types.go
  api/v1alpha1/perconaservermysqlrestore_types.go
  config/crd/bases/ps.percona.com_perconaservermysqlbackups.yaml
  config/crd/bases/ps.percona.com_perconaservermysqlrestores.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  pkg/controller/psbackup/controller.go
  pkg/controller/psbackup/controller_test.go
  pkg/controller/psrestore/controller.go
  pkg/controller/psrestore/controller_test.go
Labels: size/L

#321 K8SPS-252 Add shields to README
  README.md
Labels: size/XS

#319 K8SPS-245: keep user secrets after cr deletion
  pkg/controller/ps/user.go
  pkg/controller/ps/user_test.go
  pkg/k8s/utils.go
Labels: size/M

#323 K8SPS-238 - Bump version from 0.4.0 to 0.5.0
  deploy/cr.yaml
  pkg/version/version.go
Labels: size/XS

#324 K8SPS-253: Fix flaky integration tests
  pkg/controller/ps/controller_test.go
  pkg/controller/ps/tls_test.go
Labels: size/L

#322 K8SPS-231: Add missing grants for replication user
  build/ps-entrypoint.sh
  e2e-tests/tests/users/02-assert.yaml
Labels: size/S

#325 K8SPS-63: add `haproxy`, `toolkit` fields to version service
  api/v1alpha1/perconaservermysql_types.go
  e2e-tests/conf/operator.9.9.9.ps-operator.json
  e2e-tests/conf/vs.yaml
  go.mod
  go.sum
  pkg/controller/ps/version.go
  pkg/controller/ps/version_test.go
  pkg/version/service/client/models/version_version_matrix.go
  pkg/version/service/client/version_service/version_service_apply_parameters.go
  pkg/version/service/client/version_service/version_service_apply_responses.go
  pkg/version/service/client/version_service/version_service_operator_parameters.go
  pkg/version/service/client/version_service/version_service_operator_responses.go
  pkg/version/service/client/version_service/version_service_product_parameters.go
  pkg/version/service/client/version_service/version_service_product_responses.go
  pkg/version/service/service.go
  pkg/version/service/version.swagger.yaml
Labels: size/L

#330 K8SPS-73 - Minor update to demand-backup test
  e2e-tests/tests/demand-backup/04-move-primary-before-backup.yaml
Labels: size/XS

#331 K8SPS-73 - Add upgrade and router configuration opts to cr.yaml
  deploy/cr.yaml
Labels: size/XS

#333 K8SPS-238 update cert-manager version
  e2e-tests/functions
  pkg/controller/ps/testdata/cert-manager.yaml
Labels: size/L

#335 K8SPS-238 - Update manifests and versions for 0.5.0 release
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  config/manager/kustomization.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/operator.yaml
Labels: size/M

#336 K8SPS-238 - Update images for haproxy, router and orchestrator
  deploy/cr.yaml
Labels: size/XS

#337 K8SPS-238 update tests for eks
  e2e-tests/tests/async-ignore-annotations/02-assert.yaml
  e2e-tests/tests/gr-ignore-annotations/02-assert.yaml
Labels: size/XS

#338 K8S238 - Minikube tests - lower haproxy cpu requests
  e2e-tests/functions
Labels: size/XS

#340 K8SPS-238 - Release 0.5.0
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  config/manager/kustomization.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/operator.yaml
  e2e-tests/functions
  e2e-tests/tests/async-ignore-annotations/02-assert.yaml
  e2e-tests/tests/gr-ignore-annotations/02-assert.yaml
  pkg/controller/ps/version.go
Labels: size/M

#342 K8SPS-238 - Update versions after 0.5.0 release
  config/manager/kustomization.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/operator.yaml
  pkg/version/version.go
Labels: size/S
