Repository percona/percona-server-mysql-operator, pull requests merged in 2023-07, with the labels that each got.

#381 K8SPS-244: Restart router pods on user created config CM change
  config/manager/kustomization.yaml
  deploy/bundle.yaml
  deploy/operator.yaml
  e2e-tests/conf/client.yaml
  e2e-tests/functions
  e2e-tests/tests/config-router/05-assert.yaml
  e2e-tests/tests/config-router/06-assert.yaml
  e2e-tests/tests/config-router/06-restart-router.yaml
  e2e-tests/tests/config/05-assert.yaml
  e2e-tests/tests/config/06-assert.yaml
  e2e-tests/tests/config/06-restart-mysql.yaml
  e2e-tests/tests/users/02-assert.yaml
  e2e-tests/tests/users/04-check-cluster.yaml
  pkg/controller/ps/controller.go
Labels: size/L

#398 K8SPS-276: Remove semi-sync replication support
  README.md
  api/v1alpha1/perconaservermysql_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  build/orchestrator.conf.json
  build/ps-entrypoint.sh
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  config/samples/ps_v2_perconaserverformysql.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  e2e-tests/build
  e2e-tests/run-distro.csv
  e2e-tests/run-minikube.csv
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
  e2e-tests/tests/scaling/01-create-cluster.yaml
  e2e-tests/tests/scaling/06-scale-up.yaml
  e2e-tests/tests/scaling/08-scale-down.yaml
  e2e-tests/tests/semi-sync/00-assert.yaml
  e2e-tests/tests/semi-sync/00-deploy-operator.yaml
  e2e-tests/tests/semi-sync/01-assert.yaml
  e2e-tests/tests/semi-sync/01-create-cluster.yaml
  e2e-tests/tests/semi-sync/02-assert.yaml
  e2e-tests/tests/semi-sync/02-check-orchestrator.yaml
  e2e-tests/tests/semi-sync/03-assert.yaml
  e2e-tests/tests/semi-sync/03-check-semi-sync.yaml
  e2e-tests/tests/semi-sync/04-assert.yaml
  e2e-tests/tests/semi-sync/04-check-semi-sync-orchestrator.yaml
  e2e-tests/tests/semi-sync/05-drop-finalizer.yaml
  e2e-tests/tests/sidecars/01-assert.yaml
  e2e-tests/tests/sidecars/01-create-cluster.yaml
  e2e-tests/tests/users/04-check-cluster.yaml
  pkg/controller/ps/controller.go
  pkg/controller/ps/controller_test.go
  pkg/replicator/replicator.go
Labels: size/L

#382 K8SPS-254: prohibit to run several restores in parallel
  pkg/controller/psrestore/controller.go
  pkg/controller/psrestore/controller_test.go
Labels: size/L

#386 K8SPS-281: Ability to run the operator locally
  CONTRIBUTING.md
  Makefile
  config/rbac/role.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/rbac.yaml
  go.mod
  go.sum
  pkg/clientcmd/clientcmd.go
  pkg/controller/ps/controller.go
  pkg/controller/ps/user.go
  pkg/mysqlsh/mysqlshexec.go
  pkg/orchestrator/clientexec.go
  pkg/replicator/replicatorexec.go
  pkg/users/usersexec.go
Labels: size/XXL

#404 K8SPS-280: Improve full cluster crash recovery
  api/v1alpha1/perconaservermysql_types.go
  build/ps-entrypoint.sh
  cmd/bootstrap/async_replication.go
  cmd/bootstrap/group_replication.go
  cmd/bootstrap/main.go
  cmd/bootstrap/utils.go
  cmd/healthcheck/main.go
  cmd/manager/main.go
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  config/rbac/role.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/rbac.yaml
  e2e-tests/tests/limits/01-assert.yaml
  e2e-tests/tests/limits/03-assert.yaml
  e2e-tests/tests/limits/05-assert.yaml
  pkg/controller/ps/controller.go
  pkg/controller/ps/crash_recovery.go
  pkg/controller/ps/suite_test.go
  pkg/mysql/topology/topology.go
  pkg/mysqlsh/mysqlshexec.go
  pkg/replicator/replicator.go
  pkg/replicator/replicatorexec.go
Labels: size/XL

#360 K8SPS-285: Add startup probe for router
  api/v1alpha1/perconaservermysql_types.go
  build/Dockerfile
  build/ps-init-entrypoint.sh
  build/router_startup_check.sh
  e2e-tests/tests/gr-bootstrap/02-assert.yaml
  e2e-tests/tests/gr-bootstrap/02-write-data.yaml
  pkg/router/router.go
Labels: size/M

#401 K8SPS-263: set error state if invalid issuer is used
  cmd/manager/main.go
  cmd/orc-handler/main.go
  pkg/clientcmd/clientcmd.go
  pkg/controller/ps/controller.go
  pkg/controller/ps/crash_recovery.go
  pkg/controller/ps/status.go
  pkg/controller/ps/status_test.go
  pkg/controller/ps/tls.go
  pkg/controller/ps/user.go
  pkg/haproxy/haproxy.go
  pkg/innodbcluster/innodbcluster.go
  pkg/mysqlsh/mysqlshexec.go
  pkg/orchestrator/clientexec.go
  pkg/platform/platform.go
  pkg/replicator/replicatorexec.go
  pkg/router/router.go
  pkg/users/usersexec.go
Labels: size/XXL
