Repository percona/percona-server-mysql-operator, pull requests merged in 2023-10, with the labels that each got.

#453 CLOUD-727 set day and time for all packages
  .github/dependabot.yml
Labels: size/XS

#465 CLOUD-789-2 - splitting local variable declaration from assingning value for best practices
  e2e-tests/functions
Labels: size/S

#467 Prune codeowners for github
  .github/CODEOWNERS
Labels: size/XS

#469 CLOUD-808 Fix PMM server deployment in tests
  e2e-tests/functions
  e2e-tests/vars.sh
Labels: size/M

#471 Move from Kubernetes Platfrom v 1.14 to v 1.25 for all operator test cases
  Jenkinsfile
Labels: size/XS
