Repository percona/percona-server-mysql-operator, pull requests merged in 2023-04, with the labels that each got.

#356 CLOUD-781 - Add test selection for distribution updates
  e2e-tests/run-distro.csv
Labels: size/S

#355 K8SPS-248 - Add cluster5 stage for running the tests
  Jenkinsfile
  e2e-tests/run-minikube.csv
  e2e-tests/run-release.csv
Labels: size/M

#334 K8SPS-270: Logging improvements
  cmd/manager/main.go
  pkg/controller/ps/controller.go
  pkg/controller/psbackup/controller.go
  pkg/controller/psrestore/controller.go
Labels: size/XS

#359 CLOUD-783 - Cleanup test cluster before deletion
  Jenkinsfile
Labels: size/XS
