Repository percona/percona-server-mysql-operator, pull requests merged in 2023-01, with the labels that each got.

#254 K8SPS-179: Don't try to reconcile GR if cluster is paused
  controllers/perconaservermysql_controller.go
Labels: size/XS

#265 K8SPS-78 Kuttl 0.15.0 compatibility update
  Jenkinsfile
  e2e-tests/kuttl.yaml
  e2e-tests/tests/auto-config/12-drop-finalizer
  e2e-tests/tests/config/09-drop-finalizer
  e2e-tests/tests/demand-backup/23-drop-finalizer
  e2e-tests/tests/gr-demand-backup/19-drop-finalizer
  e2e-tests/tests/gr-init-deploy/06-drop-finalizer
  e2e-tests/tests/haproxy/10-drop-finalizer
  e2e-tests/tests/init-deploy/06-drop-finalizer
  e2e-tests/tests/limits/08-drop-finalizer
  e2e-tests/tests/monitoring/04-drop-finalizer
  e2e-tests/tests/one-pod/07-drop-finalizer
  e2e-tests/tests/scaling/09-drop-finalizer
  e2e-tests/tests/semi-sync/05-drop-finalizer
  e2e-tests/tests/service-per-pod/06-drop-finalizer
  e2e-tests/tests/sidecars/02-drop-finalizer
  e2e-tests/tests/tls-cert-manager/03-drop-finalizer
  e2e-tests/tests/users/05-drop-finalizer
  e2e-tests/tests/version-service/08-drop-finalizer
Labels: size/M

#266 K8SPS-73 improve haproxy test
  e2e-tests/tests/haproxy/08-errors.yaml
  e2e-tests/tests/haproxy/09-drop-finalizer.yaml
Labels: size/XS

#260 CLOUD-755 Demand image everywhere inside CR
  api/v1alpha1/perconaservermysql_types.go
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
Labels: size/M

#267 CLOUD-756 - Fix pipeline to delete/post GH results only if no new build initiated
  Jenkinsfile
Labels: size/S

#270 K8SPS-229 update base image to ubi9
  build/Dockerfile
Labels: size/XS

#269 CLOUD-748 - Add checklist for Github PRs
  .github/pull_request_template.md
Labels: size/M

#271 CLOUD-765 - Fix printing of installed kuttl version
  Jenkinsfile
Labels: size/XS

#273 CLOUD-769 Freeze kuttl version during release cycle
  Jenkinsfile
Labels: size/XS

#274 Release 0.4.0
  Jenkinsfile
  config/manager/kustomization.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/operator.yaml
  e2e-tests/tests/auto-config/12-drop-finalizer
  e2e-tests/tests/config/09-drop-finalizer
  e2e-tests/tests/demand-backup/23-drop-finalizer
  e2e-tests/tests/gr-demand-backup/19-drop-finalizer
  e2e-tests/tests/gr-init-deploy/06-drop-finalizer
  e2e-tests/tests/haproxy/10-drop-finalizer
  e2e-tests/tests/init-deploy/06-drop-finalizer
  e2e-tests/tests/limits/08-drop-finalizer
  e2e-tests/tests/monitoring/04-drop-finalizer
  e2e-tests/tests/one-pod/01-assert.yaml
  e2e-tests/tests/one-pod/01-create-cluster.yaml
  e2e-tests/tests/one-pod/07-drop-finalizer
  e2e-tests/tests/scaling/09-drop-finalizer
  e2e-tests/tests/semi-sync/05-drop-finalizer
  e2e-tests/tests/service-per-pod/06-drop-finalizer
  e2e-tests/tests/sidecars/02-drop-finalizer
  e2e-tests/tests/tls-cert-manager/03-drop-finalizer
  e2e-tests/tests/users/05-drop-finalizer
  e2e-tests/tests/version-service/08-drop-finalizer
Labels: size/L

#278 K8SPS-188 - Update after 0.4.0 release
  config/manager/kustomization.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/operator.yaml
Labels: size/S
