Repository percona/percona-server-mysql-operator, pull requests merged in 2023-02, with the labels that each got.

#275 K8SPS-236: Remove formatted strings from log messages.
  api/v1alpha1/perconaservermysql_types.go
  cmd/manager/main.go
  cmd/orc-handler/main.go
  controllers/perconaservermysql_controller.go
  controllers/perconaservermysqlbackup_controller.go
  controllers/perconaservermysqlrestore_controller.go
  pkg/mysqlsh/mysqlsh.go
Labels: size/L

#276 K8SPS-237 - Fix running tests on minikube
  Jenkinsfile
  e2e-tests/functions
  e2e-tests/tests/demand-backup/01-assert.yaml
  e2e-tests/tests/demand-backup/01-create-cluster.yaml
  e2e-tests/tests/demand-backup/05-assert.yaml
  e2e-tests/tests/demand-backup/08-assert.yaml
  e2e-tests/tests/demand-backup/12-assert.yaml
  e2e-tests/tests/demand-backup/16-assert.yaml
  e2e-tests/tests/demand-backup/20-assert.yaml
  e2e-tests/tests/gr-demand-backup/05-assert.yaml
  e2e-tests/tests/gr-demand-backup/09-assert.yaml
  e2e-tests/tests/gr-demand-backup/13-assert.yaml
  e2e-tests/tests/gr-demand-backup/17-assert.yaml
  e2e-tests/tests/init-deploy/01-assert.yaml
  e2e-tests/tests/init-deploy/01-create-cluster.yaml
  e2e-tests/tests/one-pod/01-assert.yaml
  e2e-tests/tests/one-pod/01-create-cluster.yaml
  e2e-tests/tests/scaling/01-create-cluster.yaml
  e2e-tests/tests/scaling/06-scale-up.yaml
  e2e-tests/tests/scaling/08-assert.yaml
  e2e-tests/tests/scaling/08-scale-down.yaml
  e2e-tests/tests/users/01-assert.yaml
  e2e-tests/tests/users/01-create-cluster.yaml
  e2e-tests/tests/users/04-assert.yaml
  e2e-tests/tests/users/04-check-cluster.yaml
  e2e-tests/vars.sh
Labels: size/L

#293 CLOUD-748 - Remove automatic tests from PR template
  .github/pull_request_template.md
Labels: size/XS

#295 K8SPS-242: Refactor - Reorganize controllers
  cmd/manager/main.go
  pkg/controller/ps/controller.go
  pkg/controller/psbackup/controller.go
  pkg/controller/psrestore/controller.go
  pkg/controller/suite_test.go
Labels: size/S
