Repository percona/percona-server-mysql-operator, pull requests merged in 2023-08, with the labels that each got.

#417 CLOUD-727 add day and time for dependabot
  .github/dependabot.yml
Labels: size/XS

#419 CLOUD-789 - Fix check_passwords_leak function in tests for older bash versions
  e2e-tests/functions
Labels: size/XS

#420 K8SPS-276 - Remove SetSemiSyncSize and SetSemiSyncSource functions
  pkg/replicator/replicatorexec.go
Labels: size/S

#422 CLOUD-789 - Don't ignore pmm-client for password leaks check
  e2e-tests/functions
Labels: size/XS

#405 K8SPS-160: SmartUpdate
  api/v1alpha1/perconaservermysql_types.go
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  e2e-tests/run-distro.csv
  e2e-tests/run-minikube.csv
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
  e2e-tests/tests/haproxy/01-create-cluster.yaml
  e2e-tests/tests/limits/01-assert.yaml
  e2e-tests/tests/limits/03-assert.yaml
  e2e-tests/tests/limits/05-assert.yaml
  e2e-tests/tests/smart-update/00-assert.yaml
  e2e-tests/tests/smart-update/00-deploy-operator.yaml
  e2e-tests/tests/smart-update/01-assert.yaml
  e2e-tests/tests/smart-update/01-create-cluster.yaml
  e2e-tests/tests/smart-update/02-check-smart-update.yaml
  e2e-tests/tests/smart-update/03-drop-finalizer.yaml
  pkg/controller/ps/controller.go
  pkg/controller/ps/controller_test.go
  pkg/controller/ps/status.go
  pkg/controller/ps/status_test.go
  pkg/controller/ps/upgrade.go
  pkg/haproxy/haproxy.go
  pkg/mysql/mysql.go
  pkg/orchestrator/orchestrator.go
Labels: size/XL

#423 K8SPS-262: Create issuers and certs without ownerReference
  pkg/controller/ps/tls.go
Labels: size/XS

#425 K8SPS-290: Added comments above the two files functions
  api/v1alpha1/perconaservermysql_types.go
  api/v1alpha1/perconaservermysqlbackup_types.go
  api/v1alpha1/perconaservermysqlrestore_types.go
Labels: size/M

#426 K8SPS-162 - Fix mysql x protocol from haproxy
  build/haproxy-global.cfg
  build/haproxy.cfg
  build/haproxy_add_mysql_nodes.sh
  e2e-tests/conf/client.yaml
  e2e-tests/functions
  e2e-tests/tests/gr-haproxy/03-check-connections.yaml
Labels: size/M

#430 K8SPS-292: Fix CR status if cluster is paused
  api/v1alpha1/perconaservermysql_types.go
  pkg/controller/ps/status.go
Labels: size/S

#433 K8SPS-300 change default value for service annotation
  deploy/cr.yaml
Labels: size/XS

#434 K8SPS-292 - Add gr-recreate and recreate tests
  Jenkinsfile
  e2e-tests/run-distro.csv
  e2e-tests/run-minikube.csv
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
  e2e-tests/tests/gr-bootstrap/02-assert.yaml
  e2e-tests/tests/gr-bootstrap/03-assert.yaml
  e2e-tests/tests/gr-bootstrap/03-kill-primary.yaml
  e2e-tests/tests/gr-bootstrap/04-assert.yaml
  e2e-tests/tests/gr-bootstrap/04-read-data.yaml
  e2e-tests/tests/gr-bootstrap/05-assert.yaml
  e2e-tests/tests/gr-bootstrap/06-assert.yaml
  e2e-tests/tests/gr-bootstrap/06-read-data.yaml
  e2e-tests/tests/gr-bootstrap/07-assert.yaml
  e2e-tests/tests/gr-bootstrap/08-assert.yaml
  e2e-tests/tests/gr-bootstrap/08-read-data.yaml
  e2e-tests/tests/gr-recreate/00-assert.yaml
  e2e-tests/tests/gr-recreate/00-deploy-operator.yaml
  e2e-tests/tests/gr-recreate/01-assert.yaml
  e2e-tests/tests/gr-recreate/01-create-cluster.yaml
  e2e-tests/tests/gr-recreate/02-assert.yaml
  e2e-tests/tests/gr-recreate/02-write-data.yaml
  e2e-tests/tests/gr-recreate/03-assert.yaml
  e2e-tests/tests/gr-recreate/03-pause.yaml
  e2e-tests/tests/gr-recreate/04-assert.yaml
  e2e-tests/tests/gr-recreate/04-unpause.yaml
  e2e-tests/tests/gr-recreate/05-assert.yaml
  e2e-tests/tests/gr-recreate/05-write-data.yaml
  e2e-tests/tests/gr-recreate/07-delete-cluster.yaml
  e2e-tests/tests/gr-recreate/07-errors.yaml
  e2e-tests/tests/gr-recreate/08-assert.yaml
  e2e-tests/tests/gr-recreate/09-assert.yaml
  e2e-tests/tests/gr-recreate/09-recreate-cluster.yaml
  e2e-tests/tests/gr-recreate/10-assert.yaml
  e2e-tests/tests/gr-recreate/10-write-data.yaml
  e2e-tests/tests/gr-recreate/11-drop-finalizer.yaml
  e2e-tests/tests/recreate/00-assert.yaml
  e2e-tests/tests/recreate/00-deploy-operator.yaml
  e2e-tests/tests/recreate/01-assert.yaml
  e2e-tests/tests/recreate/01-create-cluster.yaml
  e2e-tests/tests/recreate/02-assert.yaml
  e2e-tests/tests/recreate/02-write-data.yaml
  e2e-tests/tests/recreate/03-assert.yaml
  e2e-tests/tests/recreate/03-pause.yaml
  e2e-tests/tests/recreate/04-assert.yaml
  e2e-tests/tests/recreate/04-unpause.yaml
  e2e-tests/tests/recreate/05-assert.yaml
  e2e-tests/tests/recreate/05-write-data.yaml
  e2e-tests/tests/recreate/07-delete-cluster.yaml
  e2e-tests/tests/recreate/07-errors.yaml
  e2e-tests/tests/recreate/08-assert.yaml
  e2e-tests/tests/recreate/09-assert.yaml
  e2e-tests/tests/recreate/09-recreate-cluster.yaml
  e2e-tests/tests/recreate/10-assert.yaml
  e2e-tests/tests/recreate/10-write-data.yaml
  e2e-tests/tests/recreate/11-drop-finalizer.yaml
Labels: size/XXL

#435 K8SPS-305: fix pause for gr cluster with haproxy
  e2e-tests/run-distro.csv
  e2e-tests/run-minikube.csv
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
  e2e-tests/tests/gr-demand-backup-haproxy/00-assert.yaml
  e2e-tests/tests/gr-demand-backup-haproxy/00-minio-secret.yaml
  e2e-tests/tests/gr-demand-backup-haproxy/01-assert.yaml
  e2e-tests/tests/gr-demand-backup-haproxy/01-deploy-operator.yaml
  e2e-tests/tests/gr-demand-backup-haproxy/02-assert.yaml
  e2e-tests/tests/gr-demand-backup-haproxy/02-create-cluster.yaml
  e2e-tests/tests/gr-demand-backup-haproxy/03-write-data.yaml
  e2e-tests/tests/gr-demand-backup-haproxy/04-assert.yaml
  e2e-tests/tests/gr-demand-backup-haproxy/04-create-backup-minio.yaml
  e2e-tests/tests/gr-demand-backup-haproxy/05-assert.yaml
  e2e-tests/tests/gr-demand-backup-haproxy/05-delete-data.yaml
  e2e-tests/tests/gr-demand-backup-haproxy/06-assert.yaml
  e2e-tests/tests/gr-demand-backup-haproxy/06-restore-from-minio.yaml
  e2e-tests/tests/gr-demand-backup-haproxy/07-assert.yaml
  e2e-tests/tests/gr-demand-backup-haproxy/07-read-data.yaml
  e2e-tests/tests/gr-demand-backup-haproxy/08-drop-finalizer.yaml
  pkg/controller/psrestore/controller.go
Labels: size/L

#437 K8SPS-297: restart mysql and haproxy on pmm key update
  e2e-tests/functions
  e2e-tests/tests/monitoring/03-assert.yaml
  e2e-tests/tests/monitoring/03-rotate-pmm-key.yaml
  e2e-tests/tests/monitoring/04-check-metrics.yaml
  e2e-tests/tests/monitoring/05-check-password-leak.yaml
  e2e-tests/tests/monitoring/06-drop-finalizer.yaml
  pkg/controller/ps/user.go
  pkg/haproxy/haproxy.go
Labels: size/L

#436 K8SPS-306 update haproxy_check_* scripts
  build/haproxy_check_primary.sh
  build/haproxy_check_replicas.sh
  pkg/controller/ps/controller.go
  pkg/orchestrator/client.go
  pkg/orchestrator/clientexec.go
Labels: size/M

#439 K8SPS-309: restore doesn't restart cluster
  go.mod
  go.sum
  pkg/controller/ps/status.go
  pkg/controller/psbackup/controller.go
  pkg/controller/psrestore/controller.go
Labels: size/M

#438 K8SPS-232: Ensure all members have up-to-date group seeds
  build/ps-entrypoint.sh
  cmd/bootstrap/group_replication.go
  e2e-tests/tests/gr-init-deploy/07-assert.yaml
  e2e-tests/tests/gr-init-deploy/07-check-group-seeds.yaml
  e2e-tests/tests/gr-init-deploy/08-drop-finalizer.yaml
  pkg/controller/ps/controller.go
  pkg/haproxy/haproxy.go
  pkg/mysql/mysql.go
Labels: size/L
