Repository percona/percona-server-mysql-operator, pull requests merged in 2024-07, with the labels that each got.

#688 K8SPS-43-: Log async replication not ready
  pkg/controller/ps/status.go
Labels: size/XS

#691 K8SPS-241: Correct apigroup for role/rolebingins
  config/rbac/role.yaml
  deploy/bundle.yaml
  deploy/rbac.yaml
  pkg/controller/ps/controller.go
Labels: size/L

#692 K8SPS-328 destroy cert-manager
  e2e-tests/functions
  e2e-tests/tests/gr-finalizer/99-remove-cluster-gracefully.yaml
  e2e-tests/tests/gr-tls-cert-manager/99-remove-cluster-gracefully.yaml
  e2e-tests/tests/tls-cert-manager/99-remove-cluster-gracefully.yaml
Labels: size/XS

#696 K8SPS-366: Reconcile status only on a non-nil CR
  pkg/controller/ps/status.go
Labels: size/XS

#690 K8SPS-370: Unsafe improvements
  api/v1alpha1/perconaservermysql_types.go
  deploy/cr.yaml
  e2e-tests/tests/tls-cert-manager/02-assert.yaml
  e2e-tests/tests/tls-cert-manager/04-assert.yaml
  e2e-tests/tests/tls-cert-manager/06-assert.yaml
  pkg/controller/ps/controller_test.go
  pkg/controller/ps/version_test.go
Labels: size/L

#697 K8SPS-241: Get K8S objects within a specific namespace
  cmd/orc-handler/main.go
  pkg/controller/ps/controller.go
  pkg/controller/ps/crash_recovery.go
  pkg/controller/ps/status.go
  pkg/controller/psrestore/controller.go
  pkg/k8s/utils.go
Labels: size/M

#698 K8SPS-343 Update images and versions for 0.8.0 release
  config/manager/cluster/kustomization.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/vars.sh
Labels: size/M

#699 K8SPS-340: fix `gr-security-context` test
  e2e-tests/tests/gr-security-context/04-assert.yaml
  e2e-tests/tests/gr-security-context/07-assert.yaml
Labels: size/XS

#703 K8SPS-343 Update image tags back to main (related to 0.8.0 release)
  Jenkinsfile
  config/manager/cluster/kustomization.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  pkg/version/version.go
Labels: size/M

#709 K8SPS-364: Reconcile full cluster crush only for GR cluster type.
  pkg/controller/ps/crash_recovery.go
Labels: size/XS

#708 K8SPS-365: Fix crashes after MySQL version upgrade
  cmd/bootstrap/async_replication.go
  cmd/bootstrap/group_replication.go
  cmd/bootstrap/main.go
  cmd/bootstrap/utils.go
Labels: size/M

#689 fix vs
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
Labels: size/XS
