Repository percona/percona-server-mysql-operator, pull requests merged in 2024-02, with the labels that each got.

#538 K8SPS-328 fix version-service test
  Jenkinsfile
  e2e-tests/functions
  e2e-tests/tests/version-service/00-deploy-operator.yaml
  e2e-tests/tests/version-service/01-assert.yaml
Labels: size/XS

#544 K8SPS-302 keep service on paused cluster
  e2e-tests/tests/recreate/03-assert.yaml
  pkg/controller/ps/controller.go
  pkg/controller/ps/controller_test.go
Labels: size/L

#545 K8SPS-303 update ports
  e2e-tests/tests/async-ignore-annotations/02-assert.yaml
  e2e-tests/tests/async-ignore-annotations/04-assert.yaml
  e2e-tests/tests/async-ignore-annotations/05-assert.yaml
  e2e-tests/tests/async-ignore-annotations/06-assert.yaml
  e2e-tests/tests/async-ignore-annotations/07-assert.yaml
  e2e-tests/tests/auto-config/02-assert.yaml
  e2e-tests/tests/gr-haproxy/01-assert.yaml
  e2e-tests/tests/gr-ignore-annotations/01-assert.yaml
  e2e-tests/tests/gr-ignore-annotations/02-assert.yaml
  e2e-tests/tests/gr-ignore-annotations/04-assert.yaml
  e2e-tests/tests/gr-ignore-annotations/05-assert.yaml
  e2e-tests/tests/gr-ignore-annotations/06-assert.yaml
  e2e-tests/tests/gr-ignore-annotations/07-assert.yaml
  e2e-tests/tests/gr-init-deploy/01-assert.yaml
  e2e-tests/tests/gr-recreate/01-assert.yaml
  e2e-tests/tests/gr-recreate/03-assert.yaml
  e2e-tests/tests/gr-recreate/04-assert.yaml
  e2e-tests/tests/gr-recreate/09-assert.yaml
  e2e-tests/tests/gr-self-healing/02-assert.yaml
  e2e-tests/tests/gr-self-healing/05-assert.yaml
  e2e-tests/tests/gr-self-healing/08-assert.yaml
  e2e-tests/tests/gr-self-healing/11-assert.yaml
  e2e-tests/tests/gr-self-healing/14-assert.yaml
  e2e-tests/tests/limits/01-assert.yaml
  e2e-tests/tests/limits/03-assert.yaml
  e2e-tests/tests/limits/05-assert.yaml
  e2e-tests/tests/recreate/01-assert.yaml
  e2e-tests/tests/recreate/03-assert.yaml
  e2e-tests/tests/recreate/04-assert.yaml
  e2e-tests/tests/recreate/09-assert.yaml
  e2e-tests/tests/service-per-pod/01-assert.yaml
  e2e-tests/tests/service-per-pod/04-assert.yaml
  pkg/controller/psbackup/controller.go
  pkg/mysql/mysql.go
  pkg/router/router.go
Labels: size/L

#553 K8SPS-325: add `PMM_AGENT_PATHS_TEMPDIR`
  e2e-tests/tests/monitoring/02-assert.yaml
  e2e-tests/tests/monitoring/03-assert.yaml
  pkg/pmm/container.go
Labels: size/S

#558 K8SPS-315 do not restart cluster if don't use CustomConfigKey as config name in config map.
  pkg/controller/ps/configuration.go
Labels: size/XS

#550 K8SPS-185: Fix orchestrator SSl/TLS config
  build/orc-entrypoint.sh
Labels: size/XS

#559 K8SPS-330 use haproxy_check_primary.sh for one pod deployment
  build/haproxy_add_mysql_nodes.sh
Labels: size/XS

#564 K8SPS-314 - Fix chaos mesh cleanup
  e2e-tests/functions
Labels: size/S

#549 K8SPS-277: add `topologySpreadConstraints`
  api/v1alpha1/perconaservermysql_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ps.percona.com_perconaservermysqlbackups.yaml
  config/crd/bases/ps.percona.com_perconaservermysqlrestores.yaml
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  pkg/haproxy/haproxy.go
  pkg/mysql/mysql.go
  pkg/orchestrator/orchestrator.go
  pkg/router/router.go
  pkg/xtrabackup/xtrabackup.go
Labels: size/XXL

#565 K8SPS-124 add backoffLimit
  api/v1alpha1/perconaservermysql_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  e2e-tests/tests/gr-demand-backup/02-assert.yaml
  e2e-tests/tests/gr-demand-backup/02-create-cluster.yaml
  pkg/xtrabackup/xtrabackup.go
Labels: size/M

#562 K8SPS-316: Read-only off for single-node cluster without Orchestrator
  pkg/controller/ps/controller.go
Labels: size/S

#552 K8SPS-258: check if backup is running
  build/run-backup.sh
  cmd/manager/main.go
  cmd/sidecar/main.go
  pkg/controller/psbackup/controller.go
  pkg/controller/psbackup/controller_test.go
  pkg/xtrabackup/sidecarclient.go
Labels: size/XL
