Repository percona/percona-server-mysql-operator, pull requests merged in 2024-08, with the labels that each got.

#714 K8SPS-360: Orc downscale outdated services
  pkg/controller/ps/controller.go
Labels: size/M

#717 K8SPS-373: reduce error logs on 1 mysql pod deployment
  pkg/controller/ps/controller.go
  pkg/controller/ps/status.go
  pkg/orchestrator/client.go
Labels: size/L

#718 K8SPS-361 update port
  cmd/bootstrap/group_replication.go
  e2e-tests/tests/gr-init-deploy/07-assert.yaml
  e2e-tests/tests/gr-scaling/10-assert.yaml
Labels: size/S

#724 K8SPS-350: Remove SSLInternalSecretName option
  api/v1alpha1/perconaservermysql_types.go
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
Labels: size/M

#722 K8SPS-372: fix bootstrap for cluster with 2 mysql pods
  cmd/bootstrap/async_replication.go
Labels: size/S

#723 K8SPS-377: do not use --skip-ssl for db init
  build/ps-entrypoint.sh
Labels: size/S

#721 K8SPS-353: Deploy Binlog Server
  api/v1alpha1/perconaservermysql_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  build/Dockerfile
  build/binlog-server-entrypoint.sh
  build/ps-entrypoint.sh
  build/ps-init-entrypoint.sh
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  pkg/binlogserver/binlog_server.go
  pkg/binlogserver/config.go
  pkg/controller/ps/controller.go
  pkg/controller/ps/controller_test.go
  pkg/controller/ps/user.go
  pkg/secret/secret.go
  pkg/util/container.go
Labels: size/XXL

#725 K8SPS-359: Fix rebooting cluster if it's partially online
  cmd/bootstrap/group_replication.go
  cmd/bootstrap/main.go
  config/rbac/cluster/role.yaml
  config/rbac/role.yaml
  deploy/bundle.yaml
  deploy/cw-bundle.yaml
  deploy/cw-rbac.yaml
  deploy/rbac.yaml
  e2e-tests/functions
  e2e-tests/tests/gr-self-healing/01-deploy-chaos-mesh.yaml
  e2e-tests/tests/gr-self-healing/14-cluster-crash.yaml
  e2e-tests/tests/gr-self-healing/17-assert.yaml
  e2e-tests/tests/gr-self-healing/17-quorum-loss.yaml
  e2e-tests/tests/gr-self-healing/97-destroy-chaos-mesh.yaml
  pkg/controller/ps/controller.go
  pkg/controller/ps/crash_recovery.go
  pkg/innodbcluster/innodbcluster.go
Labels: size/L

#733 K8SPS-354 fix deletion of custom ssl secret by finalizer
  e2e-tests/tests/gr-tls-cert-manager/04-assert.yaml
  e2e-tests/tests/gr-tls-cert-manager/05-check-cert.yaml
  e2e-tests/tests/gr-tls-cert-manager/06-assert.yaml
  e2e-tests/tests/tls-cert-manager/04-assert.yaml
  e2e-tests/tests/tls-cert-manager/05-check-cert.yaml
  e2e-tests/tests/tls-cert-manager/06-assert.yaml
  pkg/controller/ps/tls.go
Labels: size/M

#726 K8SPS-367: delete-mysql-pvc finalizer
  deploy/cr.yaml
  pkg/controller/ps/controller.go
  pkg/controller/ps/controller_test.go
  pkg/k8s/utils.go
  pkg/naming/naming.go
Labels: size/L
