Repository percona/percona-server-mysql-operator, pull requests merged in 2024-01, with the labels that each got.

#508 CLOUD-727 update schedule section for gomod
  .github/dependabot.yml
Labels: size/XS

#516 K8SPS-73 make one-pod test stable
  e2e-tests/tests/one-pod/02-write-data.yaml
  e2e-tests/tests/one-pod/05-assert.yaml
  e2e-tests/tests/one-pod/06-assert.yaml
  e2e-tests/tests/one-pod/06-read-data.yaml
Labels: size/XS

#517 K8SPS-266: Refactor Replicator interface
  cmd/bootstrap/async_replication.go
  cmd/db/db.go
  cmd/healthcheck/main.go
  cmd/manager/main.go
  e2e-tests/license/compare/go-licenses
  e2e-tests/license/compare/golicense
  pkg/controller/ps/controller.go
  pkg/controller/ps/user.go
  pkg/controller/psbackup/controller.go
  pkg/controller/psbackup/topology.go
  pkg/db/db.go
  pkg/db/replication.go
  pkg/db/users.go
  pkg/mysql/topology/topology.go
  pkg/orchestrator/client.go
  pkg/orchestrator/clientexec.go
  pkg/platform/platform.go
  pkg/replicator/replicator.go
  pkg/replicator/replicatorexec.go
  pkg/users/users.go
  pkg/users/usersexec.go
Labels: size/XXL

#524 K8SPS-173: K8SPS-173: Log setting safe size if the unsafe config is not allowed
  api/v1alpha1/perconaservermysql_types.go
Labels: size/XS

#525 CLOUD-835: Add action to check if manifests are up-to-date
  .github/pull_request_template.md
  .github/workflows/reviewdog.yml
  config/crd/bases/ps.percona.com_perconaservermysqlbackups.yaml
  config/crd/bases/ps.percona.com_perconaservermysqlrestores.yaml
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
Labels: size/XXL

#536 CLOUD-828 create issue templates
  .github/ISSUE_TEMPLATE/1-feature-request.yml
  .github/ISSUE_TEMPLATE/2-bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: size/M

#526 CLOUD-820 Update README to mention documentation
  README.md
Labels: size/M

#520 K8SPS-326: Orchestrator mysql-monit resources
  pkg/orchestrator/orchestrator.go
Labels: community, size/XS

#466 K8SPS-317: Remove JSON usage
  pkg/controller/ps/controller.go
  pkg/controller/ps/status.go
  pkg/controller/ps/status_test.go
  pkg/db/replication.go
  pkg/mysqlsh/mysqlshexec.go
Labels: size/L

#541 K8SPS-329 use peer-list from init image
  e2e-tests/tests/limits/01-assert.yaml
  e2e-tests/tests/limits/03-assert.yaml
  e2e-tests/tests/limits/05-assert.yaml
  pkg/orchestrator/orchestrator.go
Labels: size/XS
