Repository percona/percona-server-mysql-operator, pull requests merged in 2024-03, with the labels that each got.

#577 K8SPS-331 - Add chainsaw binary into Jenkinsfile
  Jenkinsfile
Labels: size/XS

#571 K8SPS-275: validate before starting restore
  api/v1alpha1/perconaservermysql_types.go
  api/v1alpha1/perconaservermysqlbackup_types.go
  cmd/manager/main.go
  cmd/sidecar/main.go
  cmd/sidecar/storage.go
  pkg/controller/psbackup/controller.go
  pkg/controller/psbackup/controller_test.go
  pkg/controller/psrestore/controller.go
  pkg/controller/psrestore/controller_test.go
  pkg/controller/psrestore/helpers_test.go
  pkg/controller/psrestore/restorer.go
  pkg/xtrabackup/storage/fake/storage.go
  pkg/xtrabackup/storage/options.go
  pkg/xtrabackup/storage/storage.go
  pkg/xtrabackup/xtrabackup.go
Labels: size/XXL

#543 K8SPS-295: Improve error status
  CONTRIBUTING.md
  api/v1alpha1/perconaservermysql_types.go
  e2e-tests/tests/gr-demand-backup-haproxy/02-assert.yaml
  e2e-tests/tests/gr-demand-backup/02-assert.yaml
  e2e-tests/tests/gr-ignore-annotations/01-assert.yaml
  e2e-tests/tests/gr-ignore-annotations/03-assert.yaml
  pkg/controller/ps/controller.go
  pkg/controller/ps/status.go
  pkg/controller/ps/status_test.go
  pkg/controller/ps/tls.go
  pkg/k8s/utils.go
Labels: size/L

#578 K8SPS-332 add multi architecture build support
  .github/workflows/scan.yml
  Jenkinsfile
  build/Dockerfile
  e2e-tests/build
  e2e-tests/functions
Labels: size/L

#548 K8SPS-312: restart pods on tls certificate update
  .github/linters/go.mod
  .github/workflows/reviewdog.yml
  .github/workflows/tests.yml
  Makefile
  api/v1alpha1/perconaservermysql_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  build/ps-entrypoint.sh
  config/crd/bases/ps.percona.com_perconaservermysqlbackups.yaml
  config/crd/bases/ps.percona.com_perconaservermysqlrestores.yaml
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  config/rbac/role.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/rbac.yaml
  e2e-tests/conf/cmctl.yml
  e2e-tests/functions
  e2e-tests/tests/gr-tls-cert-manager/00-deploy-cert-manager.yaml
  e2e-tests/tests/gr-tls-cert-manager/06-renew-certs.yaml
  e2e-tests/tests/gr-users/02-assert.yaml
  e2e-tests/tests/tls-cert-manager/00-deploy-cert-manager.yaml
  e2e-tests/tests/tls-cert-manager/06-renew-certs.yaml
  e2e-tests/tests/users/02-assert.yaml
  pkg/controller/ps/controller.go
  pkg/controller/ps/tls.go
  pkg/haproxy/haproxy.go
  pkg/mysql/mysql.go
  pkg/orchestrator/orchestrator.go
  pkg/router/router.go
  pkg/secret/secret.go
  pkg/tls/tls.go
Labels: size/XL

#579 K8SPS-332 improve build script
  e2e-tests/build
Labels: size/XS

#592 K8SPS-256: Remove SQL command from logs
  pkg/controller/ps/controller.go
  pkg/mysqlsh/mysqlshexec.go
Labels: size/S

#590 K8SPS-73 - Add gr-security-context test
  deploy/cr.yaml
  e2e-tests/run-distro.csv
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
  e2e-tests/tests/gr-security-context/00-assert.yaml
  e2e-tests/tests/gr-security-context/00-minio-secret.yaml
  e2e-tests/tests/gr-security-context/01-assert.yaml
  e2e-tests/tests/gr-security-context/01-deploy-operator.yaml
  e2e-tests/tests/gr-security-context/02-assert.yaml
  e2e-tests/tests/gr-security-context/02-create-cluster.yaml
  e2e-tests/tests/gr-security-context/03-write-data.yaml
  e2e-tests/tests/gr-security-context/04-assert.yaml
  e2e-tests/tests/gr-security-context/04-create-backup-minio.yaml
  e2e-tests/tests/gr-security-context/05-assert.yaml
  e2e-tests/tests/gr-security-context/05-delete-data.yaml
  e2e-tests/tests/gr-security-context/06-assert.yaml
  e2e-tests/tests/gr-security-context/06-restore-from-minio.yaml
  e2e-tests/tests/gr-security-context/07-assert.yaml
  e2e-tests/tests/gr-security-context/07-read-data.yaml
  e2e-tests/tests/gr-security-context/99-drop-finalizer.yaml
Labels: size/L

#601 K8SPS-314 - Lower backoffLimit from 10 to 6 as in cr.yaml example
  pkg/xtrabackup/xtrabackup.go
Labels: size/XS

#602 K8SPS-314 Update images and versions for 0.7.0 release
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/operator.yaml
Labels: size/S

#608 Update cert-manager version to v1.14.4
  e2e-tests/functions
Labels: size/XS

#611 K8SPS-314 - Add upgrade strategy to operator.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  deploy/bundle.yaml
  deploy/operator.yaml
Labels: size/S

#612 K8SPS-129 add e2e tests readme
  e2e-tests/README.md
Labels: docs, size/L

#614 K8SPS-314 Update image tags back to main (related to 0.7.0 release)
  config/manager/kustomization.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/operator.yaml
  pkg/version/version.go
Labels: size/M

#617 CLOUD-833 - Add release and after-release Makefile targets
  Makefile
  deploy/cr.yaml
  e2e-tests/functions
  e2e-tests/vars.sh
Labels: size/M
