Repository percona/percona-server-mysql-operator, pull requests merged in 2024-06, with the labels that each got.

#651 CLOUD-849 - Fix reviewdog for manifests on release branches
  .github/workflows/reviewdog.yml
Labels: size/XS

#653 CLOUD-850 - Update kuttl version to 0.16.0
  Jenkinsfile
  e2e-tests/conf/cmctl.yml
Labels: size/XS

#660 CLOUD-851 updating-jq-and-yq-versions
  Jenkinsfile
Labels: size/XS

#589 K8SPS-154 - Add gr-finalizer test
  .github/linters/go.mod
  e2e-tests/run-distro.csv
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
  e2e-tests/tests/gr-finalizer/00-assert.yaml
  e2e-tests/tests/gr-finalizer/00-deploy-cert-manager.yaml
  e2e-tests/tests/gr-finalizer/01-assert.yaml
  e2e-tests/tests/gr-finalizer/01-deploy-operator.yaml
  e2e-tests/tests/gr-finalizer/02-assert.yaml
  e2e-tests/tests/gr-finalizer/02-create-cluster.yaml
  e2e-tests/tests/gr-finalizer/03-assert.yaml
  e2e-tests/tests/gr-finalizer/03-switch-primary.yaml
  e2e-tests/tests/gr-finalizer/04-delete-cluster.yaml
  e2e-tests/tests/gr-finalizer/05-assert.yaml
  e2e-tests/tests/gr-finalizer/05-errors.yaml
  e2e-tests/tests/gr-finalizer/06-assert.yaml
  e2e-tests/tests/gr-finalizer/06-errors.yaml
  e2e-tests/tests/gr-finalizer/07-errors.yaml
  pkg/controller/ps/controller.go
  pkg/mysqlsh/mysqlshexec.go
Labels: size/L

#656 K8SPS-340: add securityContext to `xtrabackup` container
  deploy/cr.yaml
  e2e-tests/tests/gr-security-context/02-assert.yaml
  e2e-tests/tests/gr-security-context/02-create-cluster.yaml
  pkg/mysql/mysql.go
Labels: size/XS

#666 K8SPS-301 improve multi arch builds
  Jenkinsfile
  build/Dockerfile
  e2e-tests/build
Labels: size/M

#669 K8SPS-345 add annotation to CR
  deploy/cr.yaml
Labels: size/XS

#654 K8SPS-341: ignore `delete-backup` finalizer for not finished backups
  pkg/controller/psbackup/controller.go
  pkg/controller/psbackup/controller_test.go
Labels: size/XS

#674 K8SPS-310 update tls certificate issuer name
  e2e-tests/tests/gr-finalizer/02-assert.yaml
  e2e-tests/tests/gr-finalizer/07-errors.yaml
  e2e-tests/tests/gr-tls-cert-manager/02-assert.yaml
  e2e-tests/tests/gr-tls-cert-manager/04-assert.yaml
  e2e-tests/tests/gr-tls-cert-manager/06-assert.yaml
  e2e-tests/tests/tls-cert-manager/02-assert.yaml
  e2e-tests/tests/tls-cert-manager/04-assert.yaml
  e2e-tests/tests/tls-cert-manager/06-assert.yaml
  pkg/controller/ps/controller.go
  pkg/controller/ps/tls.go
Labels: size/M

#668 K8SPS-186: Add unsafeFlags
  api/v1alpha1/perconaservermysql_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  config/samples/ps_v2_perconaserverformysql.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  e2e-tests/tests/gr-demand-backup/02-assert.yaml
  e2e-tests/tests/gr-one-pod/01-assert.yaml
  e2e-tests/tests/gr-one-pod/01-create-cluster.yaml
  e2e-tests/tests/gr-scaling/01-create-cluster.yaml
  e2e-tests/tests/gr-security-context/02-assert.yaml
  e2e-tests/tests/haproxy/01-create-cluster.yaml
  e2e-tests/tests/haproxy/09-disable-haproxy.yaml
  e2e-tests/tests/one-pod/01-assert.yaml
  e2e-tests/tests/one-pod/01-create-cluster.yaml
  e2e-tests/tests/smart-update/02-check-smart-update.yaml
  pkg/controller/ps/controller.go
  pkg/controller/ps/controller_test.go
  pkg/controller/ps/status_test.go
  pkg/controller/ps/version_test.go
Labels: size/L

#677 K8SPS-307 fix smart update
  pkg/controller/ps/upgrade.go
Labels: size/M

#667 K8SPS-43: Include async replication status in the status reconciliation
  e2e-tests/tests/init-deploy/06-check-async-repl-not-ready-cr-status.yaml
  e2e-tests/tests/init-deploy/07-check-password-leak.yaml
  e2e-tests/tests/scaling/08-scale-down.yaml
  pkg/controller/ps/controller.go
  pkg/controller/ps/status.go
  pkg/controller/ps/status_test.go
  pkg/controller/psbackup/topology.go
  pkg/orchestrator/client.go
Labels: size/L

#678 K8SPS-346: Increase default bootstrap timeout to 12 hours
  api/v1alpha1/perconaservermysql_types.go
  e2e-tests/tests/limits/01-assert.yaml
  e2e-tests/tests/limits/03-assert.yaml
  e2e-tests/tests/limits/05-assert.yaml
Labels: size/XS

#681 K8SPS-307 Fix missprint
  pkg/controller/ps/upgrade.go
Labels: size/XS

#684 CLOUD-850 - Update kuttl version to v0.17.0
  Jenkinsfile
Labels: size/XS

#685 Update codeowners
  .github/CODEOWNERS
Labels: size/XS
