Repository percona/percona-server-mysql-operator, pull requests merged in 2025-06, with the labels that each got.

#940 K8SPS-398: Update images and versions back to main
  config/crd/patches/versionlabel_in_perconaserverformysql.yaml
  config/crd/patches/versionlabel_in_perconaserverformysqlbackups.yaml
  config/crd/patches/versionlabel_in_perconaserverformysqlrestores.yaml
  config/manager/cluster/kustomization.yaml
  config/manager/cluster/manager.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  pkg/controller/ps/suite_test.go
  pkg/version/version.txt
Labels: size/M

#922 K8SPS-381: improve restores for azure
  pkg/xtrabackup/storage/storage.go
Labels: size/XS

#947 CLOUD-911: Add snyk config
  .e2eignore
  .snyk
Labels: size/S

#936 K8SPS-406 add mysql params to pmm
  api/v1alpha1/perconaservermysql_types.go
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/tests/monitoring/02-assert.yaml
  e2e-tests/tests/monitoring/02-create-cluster.yaml
  e2e-tests/tests/monitoring/03-assert.yaml
  pkg/haproxy/haproxy.go
  pkg/mysql/mysql.go
  pkg/pmm/container.go
  pkg/pmm/container_test.go
Labels: size/M

#935 K8SPS-437 delete serverUser
  api/v1alpha1/perconaservermysql_types.go
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  config/samples/ps_v2_perconaserverformysql.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
Labels: size/S

#934 K8SPS-401 add azure to cr
  Makefile
  api/v1alpha1/perconaservermysql_types.go
  config/crd/bases/ps.percona.com_perconaservermysqlbackups.yaml
  config/crd/bases/ps.percona.com_perconaservermysqlrestores.yaml
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/tests/demand-backup/02-create-cluster.yaml
  e2e-tests/tests/gr-demand-backup/02-create-cluster.yaml
  e2e-tests/tests/gr-scheduled-backup/02-create-cluster.yaml
  e2e-tests/tests/scheduled-backup/02-create-cluster.yaml
Labels: size/M

#939 K8SPS-394: forbid changing cluster type on a running cluster
  pkg/controller/ps/controller.go
  pkg/mysql/mysql.go
  pkg/naming/env.go
Labels: size/M

#950 K8SPS-172 add logs to operators
  Jenkinsfile
  pkg/controller/ps/controller.go
  pkg/controller/ps/status.go
  pkg/controller/psbackup/controller.go
Labels: size/M

#926 K8SPS-418 ensure grace period support
  api/v1alpha1/perconaservermysql_types.go
  api/v1alpha1/perconaservermysql_types_test.go
  cmd/peer-list/main.go
  deploy/cr.yaml
  e2e-tests/tests/limits/01-assert.yaml
  e2e-tests/tests/limits/03-assert.yaml
  e2e-tests/tests/limits/05-assert.yaml
  e2e-tests/tests/sidecars/01-create-cluster.yaml
  pkg/binlogserver/binlog_server.go
  pkg/haproxy/haproxy.go
  pkg/haproxy/haproxy_test.go
  pkg/mysql/mysql.go
  pkg/orchestrator/orchestrator.go
  pkg/orchestrator/orchestrator_test.go
  pkg/router/router.go
Labels: size/XL

#937 K8SPS-126: Support volume expansion
  api/v1alpha1/perconaservermysql_types.go
  cmd/manager/main.go
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  config/rbac/cluster/role.yaml
  config/rbac/role.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  deploy/cw-rbac.yaml
  deploy/rbac.yaml
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
  e2e-tests/tests/pvc-resize/00-assert.yaml
  e2e-tests/tests/pvc-resize/00-deploy-operator.yaml
  e2e-tests/tests/pvc-resize/01-assert.yaml
  e2e-tests/tests/pvc-resize/01-create-cluster.yaml
  e2e-tests/tests/pvc-resize/02-assert.yaml
  e2e-tests/tests/pvc-resize/02-write-data.yaml
  e2e-tests/tests/pvc-resize/03-assert.yaml
  e2e-tests/tests/pvc-resize/03-resize-pvc.yaml
  e2e-tests/tests/pvc-resize/04-assert.yaml
  e2e-tests/tests/pvc-resize/04-verify-resize.yaml
  e2e-tests/tests/pvc-resize/05-assert.yaml
  e2e-tests/tests/pvc-resize/05-verify-data.yaml
  e2e-tests/tests/pvc-resize/98-drop-finalizer.yaml
  e2e-tests/tests/pvc-resize/99-remove-cluster-gracefully.yaml
  pkg/controller/ps/controller.go
  pkg/controller/ps/controller_test.go
  pkg/controller/ps/status.go
  pkg/controller/ps/suite_test.go
  pkg/controller/ps/volumes.go
  pkg/k8s/annotation.go
  pkg/k8s/annotation_test.go
  pkg/k8s/utils.go
  pkg/naming/events.go
  pkg/naming/naming.go
  pkg/testutil/client.go
Labels: size/XXL
