Repository percona/percona-server-mysql-operator, pull requests merged in 2025-08, with the labels that each got.

#981 K8SPS-414- fix cr on image pull secrets to include the name field
  deploy/cr.yaml
Labels: size/S

#982 K8SPS-323 remove log spam for primary pod when adding primary label on gr
  pkg/controller/ps/mysql_primary.go
Labels: size/XS

#928 K8SPS-357: Improve full cluster crash recovery
  build/Dockerfile
  cmd/healthcheck/bypass.go
  cmd/healthcheck/main.go
  cmd/healthcheck/state.go
  e2e-tests/tests/gr-recreate/09-assert.yaml
  pkg/controller/ps/controller.go
  pkg/controller/ps/crash_recovery.go
  pkg/controller/ps/mysql_primary.go
  pkg/controller/ps/status.go
  pkg/controller/ps/status_test.go
  pkg/controller/ps/suite_test.go
  pkg/topology/topology.go
Labels: size/L

#987 K8SPS-126 Added volumeExpansion option to CR
  Jenkinsfile
  deploy/cr.yaml
Labels: size/S

#951 K8SPS-265 add special characters
  build/orc-entrypoint.sh
  build/ps-entrypoint.sh
  build/router-entrypoint.sh
  build/router_readiness_check.sh
  build/router_startup_check.sh
  cmd/bootstrap/group_replication.go
  e2e-tests/conf/secrets.yaml
  e2e-tests/functions
  e2e-tests/tests/demand-backup/01-deploy-operator.yaml
  e2e-tests/tests/demand-backup/03-write-data.yaml
  e2e-tests/tests/demand-backup/07-delete-data.yaml
  e2e-tests/tests/demand-backup/10-read-data.yaml
  e2e-tests/tests/demand-backup/11-delete-data.yaml
  e2e-tests/tests/demand-backup/13-read-data.yaml
  e2e-tests/tests/demand-backup/15-delete-data.yaml
  e2e-tests/tests/demand-backup/17-read-data.yaml
  e2e-tests/tests/demand-backup/19-delete-data.yaml
  e2e-tests/tests/demand-backup/21-read-data.yaml
  e2e-tests/tests/demand-backup/23-delete-data.yaml
  e2e-tests/tests/demand-backup/25-read-data.yaml
  e2e-tests/tests/gr-demand-backup/01-deploy-operator.yaml
  e2e-tests/tests/gr-demand-backup/03-write-data.yaml
  e2e-tests/tests/gr-demand-backup/05-delete-data.yaml
  e2e-tests/tests/gr-demand-backup/07-read-data.yaml
  e2e-tests/tests/gr-demand-backup/09-delete-data.yaml
  e2e-tests/tests/gr-demand-backup/11-read-data.yaml
  e2e-tests/tests/gr-demand-backup/13-delete-data.yaml
  e2e-tests/tests/gr-demand-backup/15-read-data.yaml
  e2e-tests/tests/gr-demand-backup/17-delete-data.yaml
  e2e-tests/tests/gr-demand-backup/19-read-data.yaml
  e2e-tests/tests/gr-users/00-deploy-operator.yaml
  e2e-tests/tests/gr-users/02-check-users.yaml
  e2e-tests/tests/users/00-deploy-operator.yaml
  e2e-tests/tests/users/02-check-users.yaml
  pkg/controller/ps/controller.go
  pkg/controller/ps/crash_recovery.go
  pkg/controller/ps/status.go
  pkg/mysqlsh/mysqlshexec.go
  pkg/secret/secret.go
Labels: size/L

#1002 K8SPS-484 update images and versions for 0.11.0 release
  config/manager/cluster/kustomization.yaml
  config/manager/cluster/manager.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/release_versions
  e2e-tests/vars.sh
  pkg/controller/ps/suite_test.go
Labels: size/M

#999 K8SPS-374: ignore reconcileOrchestrator errors on pause
  pkg/controller/ps/controller.go
Labels: size/S

#1015 K8SPS-265 fix heartbeat
  build/heartbeat-entrypoint.sh
  build/ps-entrypoint.sh
Labels: size/XS

#1001 K8SPS-475 don't include expose labels to selector
  api/v1alpha1/perconaservermysql_types.go
  e2e-tests/tests/async-ignore-annotations/04-assert.yaml
  e2e-tests/tests/async-ignore-annotations/05-assert.yaml
  e2e-tests/tests/async-ignore-annotations/06-assert.yaml
  e2e-tests/tests/async-ignore-annotations/07-assert.yaml
  e2e-tests/tests/gr-ignore-annotations/04-assert.yaml
  e2e-tests/tests/gr-ignore-annotations/05-assert.yaml
  e2e-tests/tests/gr-ignore-annotations/06-assert.yaml
  e2e-tests/tests/gr-ignore-annotations/07-assert.yaml
  pkg/haproxy/haproxy.go
  pkg/haproxy/haproxy_test.go
  pkg/k8s/utils_test.go
  pkg/mysql/mysql.go
  pkg/mysql/mysql_test.go
  pkg/orchestrator/orchestrator.go
  pkg/orchestrator/orchestrator_test.go
  pkg/router/router.go
  pkg/router/router_test.go
Labels: size/XL

#992 K8SPS-466: global labels and annotations
  api/v1alpha1/perconaservermysql_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  pkg/binlogserver/binlog_server.go
  pkg/controller/ps/controller.go
  pkg/controller/ps/controller_test.go
  pkg/controller/ps/tls.go
  pkg/controller/ps/user.go
  pkg/haproxy/haproxy.go
  pkg/k8s/configmap.go
  pkg/k8s/configuration.go
  pkg/k8s/pvc.go
  pkg/k8s/pvc_test.go
  pkg/mysql/mysql.go
  pkg/orchestrator/orchestrator.go
  pkg/router/router.go
  pkg/secret/secret.go
Labels: size/L

#1027 K8SPS-465 adjust probes for haproxy
  api/v1alpha1/perconaservermysql_types.go
  e2e-tests/tests/haproxy/01-assert.yaml
  pkg/haproxy/haproxy_test.go
  pkg/topology/topology.go
Labels: size/M

#1028 K8SPS-494: Fix unnecessary updates due to bootstrap condition
  build/ps-pre-stop.sh
  cmd/bootstrap/gr/recovery_method.go
  cmd/bootstrap/gr/recovery_method_test.go
  pkg/controller/ps/controller.go
  pkg/k8s/utils.go
Labels: size/M

#990 K8SPS-405 add liveness and readness probe
  api/v1alpha1/perconaservermysql_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/tests/monitoring/02-assert.yaml
  e2e-tests/tests/monitoring/02-create-cluster.yaml
  pkg/pmm/container.go
  pkg/pmm/container_test.go
Labels: size/XL
