Repository percona/percona-server-mysql-operator, pull requests merged in 2025-09, with the labels that each got.

#1037 K8SPS-484 set development versions after release 0.11.0
  config/manager/cluster/kustomization.yaml
  config/manager/cluster/manager.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/conf/eks-storage-class.yaml
  e2e-tests/functions
Labels: size/M

#1036 K8SPS-371 failed backup before start
  pkg/controller/psbackup/controller.go
  pkg/controller/psbackup/controller_test.go
Labels: size/S

#1040 K8SPS-269 fix labels for orchestrator
  pkg/orchestrator/orchestrator.go
Labels: size/S

#1033 K8SPS-490 centralized telemetry integration
  Makefile
  go.mod
  go.sum
  pkg/controller/ps/backup.go
  pkg/controller/ps/controller.go
  pkg/controller/ps/cron.go
  pkg/controller/ps/telemetry.go
  pkg/controller/ps/telemetry_test.go
  pkg/mysql/mysql_test.go
  pkg/telemetry/client/generic_telemetry_reporter_api_client.go
  pkg/telemetry/client/models/generic_report_metric.go
  pkg/telemetry/client/models/genericv1_generic_report.go
  pkg/telemetry/client/models/protobuf_any.go
  pkg/telemetry/client/models/rpc_status.go
  pkg/telemetry/client/models/v1_product_family.go
  pkg/telemetry/client/models/v1_report_request.go
  pkg/telemetry/client/models/v1_report_response.go
  pkg/telemetry/client/reporter_api/reporter_api_client.go
  pkg/telemetry/client/reporter_api/reporter_api_generic_report_parameters.go
  pkg/telemetry/client/reporter_api/reporter_api_generic_report_responses.go
  pkg/telemetry/mock_reporter_api_client.go
  pkg/telemetry/reporter_api.swagger.json
  pkg/telemetry/service.go
  pkg/telemetry/service_test.go
Labels: size/XXL

#1053 K8SPS-339: revert changes
  deploy/cr.yaml
  e2e-tests/tests/async-data-source/00-assert.yaml
  e2e-tests/tests/async-data-source/00-deploy-operator.yaml
  e2e-tests/tests/async-data-source/01-assert.yaml
  e2e-tests/tests/async-data-source/01-create-cluster.yaml
  e2e-tests/tests/async-data-source/02-write-data.yaml
  e2e-tests/tests/async-data-source/03-assert.yaml
  e2e-tests/tests/async-data-source/03-read-from-primary.yaml
  e2e-tests/tests/async-data-source/04-assert.yaml
  e2e-tests/tests/async-data-source/04-read-from-replicas.yaml
  e2e-tests/tests/async-data-source/05-delete-cluster.yaml
  e2e-tests/tests/async-data-source/06-assert.yaml
  e2e-tests/tests/async-data-source/06-create-cluster-with-dataSource.yaml
  e2e-tests/tests/async-data-source/07-assert.yaml
  e2e-tests/tests/async-data-source/07-read-from-primary.yaml
  e2e-tests/tests/async-data-source/08-assert.yaml
  e2e-tests/tests/async-data-source/08-read-from-replicas.yaml
  e2e-tests/tests/async-data-source/98-drop-finalizer.yaml
  e2e-tests/tests/async-data-source/99-remove-cluster-gracefully.yaml
  pkg/controller/ps/controller.go
  pkg/controller/ps/data_source.go
  pkg/k8s/pvc.go
  pkg/k8s/pvc_test.go
Labels: size/L

#1056 K8SPS-371 fix reviewdog
  .github/workflows/reviewdog.yml
Labels: size/XS

#1065 K8SPS-400 and K8SPS-527 fixes
  cmd/sidecar/main.go
  pkg/controller/psbackup/controller.go
  pkg/mysql/mysql.go
Labels: size/M

#1074 K8SPS-393 check sts generation before and after rotating the pmm3 token
  e2e-tests/functions
  e2e-tests/tests/monitoring/03-rotate-pmm-token.yaml
Labels: size/S

#1073 K8SPS-417: Fix owner of PDB
  e2e-tests/tests/init-deploy/01-assert.yaml
  pkg/k8s/utils.go
Labels: size/S

#1086 K8SPS-524: update `ps-backup`'s `.status.stateDesc` on state change
  pkg/controller/psbackup/controller.go
  pkg/controller/psbackup/controller_test.go
Labels: size/L

#1072 K8SPS-491: set defaults for `.spec.secretsName`
  api/v1/perconaservermysql_types.go
  api/v1/perconaservermysql_types_test.go
  pkg/controller/ps/controller_test.go
Labels: size/L

#1087 K8SPS-501: retry on conflict for pvc update
  pkg/controller/ps/volumes.go
Labels: size/S

#1094 K8SPS-533: prioritize `containerOptions` from backup/restore resources
  api/v1/perconaservermysql_types.go
  api/v1/perconaservermysqlbackup_types.go
  api/v1/perconaservermysqlbackup_types_test.go
  api/v1/perconaservermysqlrestore_types.go
  api/v1/perconaservermysqlrestore_types_test.go
  pkg/xtrabackup/xtrabackup.go
  pkg/xtrabackup/xtrabackup_test.go
Labels: size/XL

#1090 K8SPS-535: check if backup exists before `xbcloud delete` command
  cmd/sidecar/handler/backup/create.go
  cmd/sidecar/handler/backup/delete.go
  cmd/sidecar/handler/backup/delete_test.go
  cmd/sidecar/handler/backup/get.go
  cmd/sidecar/handler/backup/handler.go
  cmd/sidecar/handler/backup/util.go
  cmd/sidecar/handler/handler.go
  cmd/sidecar/main.go
  pkg/controller/psbackup/controller.go
  pkg/controller/psbackup/controller_test.go
  pkg/xtrabackup/sidecarclient.go
  pkg/xtrabackup/xtrabackup.go
Labels: size/XXL

#1100 K8SPS-502: use latest envtest version
  Makefile
  pkg/controller/ps/controller_test.go
Labels: size/M
