Repository percona/percona-server-mysql-operator, pull requests merged in 2025-02, with the labels that each got.

#809 CLOUD-869 Enhance Jenkinsfile to skip builds for specified non-trigger files
  .e2eignore
  Jenkinsfile
Labels: size/L

#830 K8SPS-324 Update HAProxy usage details in README
  README.md
Labels: size/XS

#831 Release 0.9.0
  config/manager/cluster/kustomization.yaml
  config/manager/cluster/manager.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/release_versions
  e2e-tests/vars.sh
Labels: size/M

#834 K8SPS-376 Update image tags back to main (related to 0.9.0 release)
  config/manager/cluster/kustomization.yaml
  config/manager/cluster/manager.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  pkg/version/version.go
Labels: size/M

#835 K8SPS-424 Jenkinsfile cluster-version set to 1.29 from 1.28
  Jenkinsfile
Labels: size/XS

#839 CLOUD-727 remove Inel from dependabot and add George
  .github/dependabot.yml
Labels: size/XS
