Repository percona/percona-server-mysql-operator, pull requests merged in 2025-01, with the labels that each got.

#808 Update codeowners
  .github/CODEOWNERS
Labels: size/XS

#813 CLOUD-857: Add Helm Chart checkbox in PR template
  .github/pull_request_template.md
Labels: size/XS

#807 K8SPS-390 Automate images and k8s platform versions provisioning for Jenkins jobs
  e2e-tests/release_versions
Labels: size/S

#811 K8SPS 388 small refactor on InitContainer, reuse it when needed - e2e test introduction for the case
  e2e-tests/tests/init-deploy/00-assert.yaml
  e2e-tests/tests/init-deploy/00-deploy-operator.yaml
  e2e-tests/tests/init-deploy/01-create-cluster.yaml
  pkg/binlogserver/binlog_server.go
  pkg/haproxy/haproxy.go
  pkg/k8s/init_image.go
  pkg/k8s/init_image_test.go
  pkg/mysql/mysql.go
  pkg/orchestrator/orchestrator.go
  pkg/router/router.go
  pkg/xtrabackup/xtrabackup.go
Labels: size/L

#823 K8SPS-353 add required pitr binlog fields
  api/v1alpha1/perconaservermysql_types.go
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  pkg/controller/ps/controller.go
  pkg/controller/ps/controller_test.go
Labels: size/M

#767 CLOUD-868: Remove monitoring from ps distro tests
  e2e-tests/run-distro.csv
Labels: size/XS

#826 K8SPS-376 Update images and versions for 0.9.0 release
  config/manager/cluster/kustomization.yaml
  config/manager/cluster/manager.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/release_versions
  e2e-tests/vars.sh
Labels: size/M
