Repository percona/percona-server-mysql-operator, pull requests merged in 2025-03, with the labels that each got.

#849 K8SPS-393 PMM3 support
  deploy/cr.yaml
  deploy/secrets.yaml
  e2e-tests/README.md
  e2e-tests/functions
  e2e-tests/tests/init-deploy/01-create-cluster.yaml
  e2e-tests/tests/monitoring/01-deploy-pmm-server.yaml
  e2e-tests/tests/monitoring/02-assert.yaml
  e2e-tests/tests/monitoring/03-assert.yaml
  e2e-tests/tests/monitoring/03-rotate-pmm-key.yaml
  e2e-tests/vars.sh
  pkg/controller/ps/controller.go
  pkg/k8s/init_image.go
  pkg/pmm/container.go
  pkg/pmm/container_test.go
Labels: size/L

#837 K8SPS-375: reduce error logs on cluster startup
  pkg/controller/ps/controller.go
  pkg/controller/ps/upgrade.go
Labels: size/S

#838 K8SPS-392: configure bootstrap readTimeout
  cmd/bootstrap/async_replication.go
  cmd/bootstrap/utils.go
  cmd/db/db.go
  cmd/healthcheck/main.go
  deploy/cr.yaml
  pkg/naming/env.go
Labels: size/L

#852 K8SPS-382 Remove loadBalancerIP
  api/v1alpha1/perconaservermysql_types.go
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  config/manager/kustomization.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  pkg/haproxy/haproxy.go
  pkg/router/router.go
Labels: size/M

#853 K8SPS-379 add cluster role generation
  Makefile
  config/rbac/cluster/clusterrole_additional.yaml
  config/rbac/cluster/role.yaml
  deploy/cw-bundle.yaml
  deploy/cw-rbac.yaml
Labels: size/L

#856 K8PS-212 cr validations for async cluster type
  api/v1alpha1/perconaservermysql_types.go
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/functions
  pkg/controller/ps/controller_test.go
  pkg/controller/ps/suite_test.go
Labels: size/L

#850 K8SPS-426: add `mysql.percona.com/version` label to the `crd.yaml`
  Makefile
  api/v1alpha1/perconaservermysql_types.go
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_perconaserverformysqlbackups.yaml
  config/crd/patches/cainjection_in_perconaserverformysqlrestores.yaml
  config/crd/patches/cainjection_in_perconaserverformysqls.yaml
  config/crd/patches/versionlabel_in_perconaserverformysql.yaml
  config/crd/patches/versionlabel_in_perconaserverformysqlbackups.yaml
  config/crd/patches/versionlabel_in_perconaserverformysqlrestores.yaml
  config/crd/patches/webhook_in_perconaserverformysqlbackups.yaml
  config/crd/patches/webhook_in_perconaserverformysqlrestores.yaml
  config/crd/patches/webhook_in_perconaserverformysqls.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  pkg/controller/ps/version_test.go
  pkg/naming/naming.go
  pkg/version/version.go
  pkg/version/version.txt
  pkg/version/version_test.go
Labels: size/L

#858 K8SPS-393 use service account tokens for auth
  api/v1alpha1/perconaservermysql_types.go
  deploy/secrets.yaml
  e2e-tests/functions
  e2e-tests/tests/monitoring/01-deploy-pmm-server.yaml
  e2e-tests/tests/monitoring/02-assert.yaml
  e2e-tests/tests/monitoring/03-assert.yaml
  e2e-tests/tests/monitoring/03-rotate-pmm-key.yaml
  e2e-tests/tests/monitoring/04-check-metrics.yaml
  pkg/controller/ps/controller.go
  pkg/controller/ps/user.go
  pkg/pmm/container.go
  pkg/pmm/container_test.go
Labels: size/L

#866 K8SPS-428 gitignore vendor directory
  .gitignore
Labels: size/XS

#867 K8SPS 393 naming fixes, remove key references in comments and file names
  e2e-tests/tests/monitoring/03-rotate-pmm-token.yaml
Labels: size/XS

#848 K8SPS-423: implement `NOTIFY_SOCKET` and state-monitor
  build/Dockerfile
  build/ps-entrypoint.sh
  build/ps-init-entrypoint.sh
  cmd/bootstrap/async_replication.go
  cmd/bootstrap/main.go
  cmd/bootstrap/utils.go
  cmd/healthcheck/main.go
  cmd/internal/db/db.go
  cmd/internal/naming/state.go
  cmd/mysql-state-monitor/main.go
  e2e-tests/tests/limits/01-assert.yaml
  e2e-tests/tests/limits/03-assert.yaml
  e2e-tests/tests/limits/05-assert.yaml
  pkg/mysql/mysql.go
  pkg/naming/env.go
Labels: size/L

#851 K8SPS-299: set mysql size as a required field
  api/v1alpha1/perconaservermysql_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ps.percona.com_perconaservermysqls.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  pkg/controller/ps/controller.go
  pkg/controller/ps/controller_test.go
Labels: size/M
